/*=============================================
=            CONTENT WRAPPER                  =
=============================================*/


/* Standard content with only basic formatting options. */

.content-simple {
    /* Collections with shared attributes. */
    ul,
    ol,
    p {
        margin-bottom: 1.2em;
        &:last-child {
            margin: 0;
        }
    }
    & > ul {
        line-height: 1.8;
        margin-left: 0;
        padding-left: 1em;
        text-indent: -1.55em;
        & > li {
            // padding-left: .4em;
            @include make-list-square-bullet( .5em) {
                position: relative;
                top: -0.1em;
                margin-right: 1em;
            }
        }
    }
}


/* ===== GENERIC HELPERS ==================================================== */

.centered {
    text-align: center;
}

.smaller {
    font-size: 0.75em;
    padding-top: 0.5em;
    a {
        font-size: 1.2em;
    }
}

.tooltip-inline {
    color: $base-font-colour;
    border-bottom: 1px dashed $blue-endeavoura;
}
