/*=======================================
=            BUTTONS & LINKS            =
=======================================*/


/* ===== BUTTONS ============================================================ */

$btn-bg:           $blue-azure !default;
$btn-hover-bg:     $blue-st-tropaz;

$sec-bg:           $grey-alto;
$sec-hover-bg:     $grey-silver;

$btn-corners:      2px !default;
$btn-label-colour: $white !default;

$ico-margin:       .9em;


.btn {
    display: inline-block;
    padding: 0.6em 1.1em;
    margin: 1em;
    line-height: 1.2;
    border-radius: $btn-corners;
    background-color: $btn-bg;
    font-family: $caption-font-family;
    font-size: 100%;
    font-weight: $weight-semibold;
    text-decoration: none;
    color: $btn-label-colour;
    white-space: nowrap;
    @include hoverify() {
        background-color: $btn-hover-bg;
        color: $btn-label-colour;
    }

    @include media ($mobile) {
        //white-space: pre-line;
    }

    // Sizing (normal size by default)
    &.large {
        font-size: 100%;
    }
    &.small {
        font-size: 60%;
    }
    // Standard icon styles
    .ico {
        margin-left: $ico-margin;
        line-height: 0;
        vertical-align: middle;
        // Positioning (right position by default)
        &.left {
            margin-left: 0;
            margin-right: $ico-margin;
        }
    }

    &.secondary {
        background-color: $sec-bg;
        color: $grey-mako;
        padding: 0.6em 1em;
        line-height: 1;
        @include hoverify() {
            background-color: $sec-hover-bg;
            // color: $grey-dusty-gray;
        }
    }

    &.disabled {
        background-color: #BBB;
        cursor: no-drop;
    }
}




/* ===== LINKS ============================================================== */
