/*=======================================
=            BUTTONS & LINKS            =
=======================================*/



/* ===== BUTTONS ============================================================ */

$btn-bg:            $blue-azure !default;
$btn-corners:       2px !default;
$btn-label-colour:  $white !default;

$btn-hover-bg:      $blue-st-tropaz;



.btn {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 1em;
    border-radius: $btn-corners;
    background-color: $btn-bg;
    font-family: $caption-font-family;
    font-size: 100%;
    font-weight: $weight-semibold;
    text-decoration: none;
    color: $btn-label-colour;
    white-space: nowrap;

    @include hoverify() {
        background-color: $btn-hover-bg;
    };


    // Sizing (normal size by default)
    &.large { font-size: 100%; }
    &.small { font-size: 60%; }
}

.btns-holder {
    text-align: center;
}


/* ===== LINKS ============================================================== */
