/*=====================================
=      STANDALONE UI WIDGETS          =
=====================================*/

$vic-large-logo-width: 480px;

.logo.large {
    width: $vic-large-logo-width;

    @include media( $desktop-and-smaller ) {
        width: $vic-large-logo-width * 0.8;
    }

    @include media( $mobile-large-and-smaller ) {
        width: $vic-large-logo-width * 0.7;
    }

    @include media( $mobile ) {
        width: 95%;
        max-width: $vic-large-logo-width * 0.6;
    }
}

.overlaid{
    overflow: hidden;
}
