/*=============================================
=            REDESIGNED NAVIGATION            =
=============================================*/





#nav_search {
    margin: 30px 0;
    padding: 10px;
    background-color: $light-grey;
    border-radius: $base-border-radius;
    & input[type=submit] {
        width: 100%;
    }
}


#secondary_menu {
    height: 20px;

    .main_wrapper {
        position: relative;
        overflow-x: auto;
        min-height: 45px;

        .sub_wrapper {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.4);

        }
    }

    a.cycle_nav {
        display: block;
        background-color: $vic-black;
        position: absolute;
        z-index: 2;
        clear: both;
        padding: 10px 5px;

        @include hoverify {
            background-color: $white;
            color: $vic-black;
        }

        &.hide_nav_button {
            display: none;
        }
    }
    ul {
        padding: 10px 30px;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        clear: right;
        li {
            display: inline;
            width: 33.33%;
            a {
                color: $light-grey;
                font-size: 0.9em;
                padding: 10px;
               @include hoverify {

                    color: white;
                    text-decoration: underline;
                }

            }
        }
    }
}

#header_menu {
    padding: 20px 30px 30px;
    h1 {
        margin: 30px 0 40px 0;
        width: 100%;
        text-align: center;
        a {
            background-color: transparent;

        }
    }
}

#header_logo {
    width: 380px;
    ;
}

#right_cycle_nav {
    position: relative;
    right: 0;
    // '>' icon
    &:before {
        float: right;
        //@include iconify ( block, $ico-arrow-right);
        margin: 0 7px;

    }
}

#left_cycle_nav.cycle_nav {
    left: 0;
    position: static;
    // '>' icon
    &:before {
        float: right;
        //@include iconify ( block, $ico-arrow-right);
        margin: 0 5px;
        transform: rotate(180deg);

    }
}
