/*=============================================
=            OLD SITE NAVIGATION            =
=============================================*/

.print-only {
    display: none;
}

//Special media break
$menu-break: new-breakpoint( min-width $tablet-min-width max-width 1200px $tablet-grid-columns);
#site-header {
    position: relative;
    background-color: $black-victoria;
    border-bottom: 6px solid $green-victoria;
    padding-top: 1.5em;
    @include media ($desktop-and-bigger) {
        // @include outer-container;
        min-height: 110px;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }
    // padding: 0 3em 3em;
    a {
        color: $white;
    }
    .vic-logo {
        background-image: url($path-shared + '/img/logo-victoria-white@x2.png');
        text-indent: -666em;
        background-color: transparent;
        background-repeat: no-repeat;
        height: 50px;
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        @include media ($mobile) {
            margin-left: 1em;
        }
        @include media ($desktop-and-bigger) {
            margin-left: 1em;
            background-image: url($path-shared +'/img/logo_desktop-2x.png');
            height: 88px;
            width: 22.5%;
            margin: 0 0 0 .5%;
            background-size: 192px 48px;
            background-position: 0 47%;
            max-width: 250px;
            float: left;
            margin-top: 0.5em;
            // @include span-columns (3);
        }
    }
    .main-nav {
        padding: 1em;
        @include media ($mobile-large-and-bigger) {
            padding: 3em;
        }
        @include media ($desktop-and-bigger) {
            padding: 0;
        }
        @include media ($tablet-and-smaller) {
            background-color: $black;
        }
        max-height: 1000px;
        transition: 0.7s ease all;

        &.ng-hide {
            @include media ($tablet-and-smaller) {
                max-height: 0;
                opacity: 0;
                padding: 0;
            }
        }
        &.ng-hide:not(.ng-hide-animate) {
            @include media ($desktop-and-bigger) {
                display: block !important;
            }
        }
        ul {
            // padding: 2em;
            @include media ($desktop-and-bigger) {
                float: left;
            }
            li {
                width: 100%;
                position: relative;
                box-sizing: border-box;
                @include media ($desktop-and-bigger) {
                    display: block;
                    width: auto;
                    float: left;
                }
                &:nth-child(2) {
                    a {
                        border-top: 0;
                        border-radius: 3px 3px 0 0;
                        @include media ($desktop-and-bigger) {
                            border-radius: 0;
                            &:before {
                                content: "";
                                margin-left: -0.3em;
                            }
                        }
                    }
                }
                &:nth-child(6) {
                    a {
                        border-radius: 0 0 3px 3px;
                        @include media ($desktop-and-bigger) {
                            border-radius: 0;
                        }
                    }
                }
                a {
                    font-family: $font-victoria;
                    font-size: 1.5em;
                    background-color: $black-victoria;
                    text-align: left;
                    display: block;
                    padding: 10px 20px;
                    border-top: 2px solid rgba(250, 250, 250, 0.14902);
                    transition: all 0.3s linear;
                    @include media ($tablet-and-smaller) {
                        @include hoverify () {
                            background-color: $grey-stack;
                        }
                    }
                    @include media ($desktop-and-bigger) {
                        border: 0;
                        padding: 0 0.3em 0 0;
                        font-family: "Nimbus Roman No 9 L", "FreeSerif", "Georgia", serif;
                        font-weight: 500;
                        @include media ($menu-break) {
                            font-size: 1.2em;
                        }
                        @include hoverify () {
                            color: $grey-dusty-gray;
                        }
                        &:before {
                            padding-right: 0.3em;
                            content: "|";
                            color: #555;
                            font-size: 18px;
                            font-weight: normal;
                        }
                    }

                }
            }
            .search-btn {
                display: none;
                @include media ($desktop-and-bigger) {
                    display: block;
                    .ico {
                        padding: 0 0.5em;
                    }
                }
            }
        }
        .search-wrap {
            @include media ($desktop-and-bigger) {
                // width: 70%;
                clear: both;
                display: block;
                // float: left;
                width: 100%;
                max-height: 160px;
                transition: 0.2s ease all;
                opacity: 1;

                &.ng-hide {
                    transition: 0.7s ease all;
                    max-height: 0;
                    opacity: 0;
                    padding: 0;
                }
            }
            .search-form {
                margin-top: 1em;
                background-color: $grey-alto;
                padding: 1em;
                border-radius: $base-border-radius;
                @include media ($desktop-and-bigger) {
                    // display: none;
                    margin-top: 0;
                    margin-bottom: 1em;
                    // float: left;
                    margin-right: auto;
                    margin-left: auto;
                    width: 70%;
                    max-height: 160px;
                    transition: 0.7s ease all;
                    opacity: 1;
                    input[type=text] {
                        // float: left;
                        width: 79%;
                        margin-bottom: 0;
                        margin-right: 2%;
                        max-height: 160px;
                        transition: 0.7s ease all;
                        opacity: 1;
                        &.ng-hide {
                            max-height: 0;
                            opacity: 0;
                            padding: 0;
                        }
                    }
                    input.btn {
                        width: 18%;
                        margin: 1px 0;
                    }
                    &.ng-hide {
                        max-height: 0;
                        opacity: 0;
                        padding: 0;
                    }
                }
                input.btn {
                    margin: 0;
                    outline: 0;
                    border: 0;
                    font-size: 1.3em;
                    max-height: 40px;
                }
            }
        }
    }
    .secondary-nav {
        display: none;
        @include media ($desktop-and-bigger) {
            display: block !important;
            ul {
                padding-top: 1.3em;
                li {
                    float: left;
                    padding-right: 1em;
                    a {
                        text-transform: uppercase;
                        color: $grey-silver-chalice;
                        letter-spacing: 2px;
                        font-size: 11px;
                        font-weight: bold;
                        font-family: "Nimbus Roman No 9 L", "FreeSerif", "Georgia", serif;
                        @include hoverify () {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .main-nav,
    .secondary-nav {
        li {
            // display: inline;
        }
    }
    .lines-button {
        @include position (absolute, 0 0 null null);
        margin-right: 0.5em;
        margin-top: 0.28em;
    }
}


/*=============================================
=                 MENU BUTTON                 =
=============================================*/

$button-size: 2.5em;
$transition: .3s; // increase this to see the transformations in slow-motion
.lines-button {
    @include media ($desktop-and-bigger) {
        display: none;
    }
    display: inline-block;
    padding: $button-size/2 $button-size/4;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border: 0;
    background-color: transparent;
    &:hover {
        opacity: 1;
    }
    &:active {
        transition: 0;
    }
    &:focus {
        outline: 0;
    }
}

@mixin line {
    display: inline-block;
    width: $button-size;
    height: $button-size/7;
    background: $white;
    border-radius: $button-size/14;
    transition: $transition;
}

.lines {
    //create middle line
    @include line;
    position: relative;
    /*create the upper and lower lines as pseudo-elements of the middle line*/
    &:before,
    &:after {
        @include line;
        position: absolute;
        left: 0;
        content: '';
        transform-origin: $button-size/14 center;
    }
    &:before {
        top: $button-size/4;
    }
    &:after {
        top: -$button-size/4;
    }
}

.lines-button:hover {
    opacity: 1;
    .lines {
        background-color: $grey-silver;
        &:before {
            top: $button-size/3.5;
            background-color: $grey-silver;
        }
        &:after {
            top: -$button-size/3.5;
            background-color: $grey-silver;
        }
    }
}

.lines-button.x.close .lines {
    /*hide the middle line*/
    background: transparent;
    /*overlay the lines by setting both their top values to 0*/
    &:before,
    &:after {
        transform-origin: 50% 50%;
        top: 0;
        width: $button-size;
    }
    // rotate the lines to form the x shape
    &:before {
        transform: rotate3d(0, 0, 1, 45deg);
    }
    &:after {
        transform: rotate3d(0, 0, 1, -45deg);
    }
}
