/*===============================
=            LAYOUT             =
===============================*/

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-font-colour;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

