/*=============================================================================
=                                   LAYOUT                                    =
==============================================================================*/


*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%; // Sticky footer
    font-size: inherit; // Follow user's settings
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;           // Sticky footer
    flex-direction: column;  // Sticky footer
    min-height: 100%;        // Sticky footer
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-font-colour;

    @include breakpoint( $mobile ) {
        font-size: $mobile-layout-ratio * 1rem;
    }

    @include breakpoint( $mobile-large ) {
        font-size: $mobile-large-layout-ratio * 1rem;
    }

    @include breakpoint( $tablet ) {
        font-size: $tablet-layout-ratio * 1rem;
    }

    > footer {
        padding: 1.75em .5em;

        @include breakpoint( $mobile-large) {
            padding-bottom: 4.5em;
        }

        @include breakpoint( $mobile) {
            padding-bottom: 5.5em;
        }
    }
}
