/*==========================================
=            COLOUR DEFINITIONS            =
==========================================*/

// *IMPORTANT* - Colour naming convention
//
// 1) Read why https://davidwalsh.name/sass-color-variables-dont-suck
// 2) Get unique name for the color using http://chir.ag/projects/name-that-color/#005EA5
//    or make one.
// 3) Assign colour to the variable as following: ${base_color}-{unique_name}.


/* ===== BASIC ============================================================== */

$white: #FFF;
$black: #000;


/* ===== BRANDED ============================================================ */

$green-victoria:        #115737;
$black-victoria:        #1d2624;
$green-victoria-study:  #549349;

//TODO: REFACTOR & REMOVE!
$vic-green:     $green-victoria;
$vic-black:     $black-victoria;


/* ===== UI ================================================================= */

$blue-endeavoura:       #005ea5;
$blue-congress-blue:    #004f8c;
$blue-lochmara:         #007BD8;

$grey-mine-shaft:       #333;
$grey-dusty-gray:       #999;
$grey-alto:             #dddddd;
$grey-mercury:          #e6e6e6;

$green-finlandia:       #5F6B5F;

//TODO: REFACTOR & REMOVE!
$light_grey: $grey-alto;
$blue_action: $blue-endeavoura;
$blue_action_darker: $blue-congress-blue;
$blue_action_lighter: $blue-lochmara;

