/*========================================
=            FONT DEFINITIONS            =
========================================*/


/* ===== FONT CONSTANTS ===================================================== */

$font-victoria:         'National' !default;
$font-victoria-icons:   'VicIcons' !default;

$weight-thin:       200 !default;
$weight-light:      300 !default;
$weight-normal:     400 !default;
$weight-semibold:   600 !default;
$weight-bold:       700 !default;
$weight-extrabold:  800 !default;


/* ===== FONT ICON'S CODES ================================================== */

$ico-code-arrow-down: '\u3414';
