/*==========================================================
=            WIDELY USED VARIABLES AND SETTINGS            =
==========================================================*/


/* ===== CONSTANTS ========================================================== */

// Positioning
$z-index-top:       10 !default;
$z-index-middle:    5 !default;
$z-index-lower:     1 !default;
$z-index-default:   0 !default;


/* ===== DEFAULTS =========================================================== */

// Sets global base em size for the px-to-em and px-to-rem function. This should be the same size as your body font-size. Default is 16px.
$em-browser-default:    16px;
$em-base:               14px;

// Layout & Grid
$base-width-px:            1280px;
$base-width:               em( $base-width-px );

// % of left column's width (2-column layout)
$two-col-layout-left-ratio:  .65 !default;
// % of right column's width (2-column layout)
$two-col-layout-right-ratio: ( 1 - $two-col-layout-left-ratio ) !default;

//tow button layout
$two-btn-layout:  .5 !default;

// Typography
$base-font-size:    em( $em-base, $em-browser-default ) !default;
$base-font-colour:  $green-mako !default;
$base-line-height:  1.6 !default;
$base-font-family:  'Helvetica Neue', 'Segoe WP', 'Nimbus Sans L', 'Helvetica', 'Arial' !default;
$base-spacing:      $base-line-height * 1em !default;

// Positioning
$base-z-index:      $z-index-default !default;

// Colours
$base-bg-colour:    $white;

// Borders & Lines
$base-border-radius:    2px !default;
$base-border-width:     1px !default;
$base-border-colour:    $grey-mercury !default;

$base-border:   $base-border-width solid $grey-dusty-gray !default;

// Box model
$base-margin:   1.5em !default;
$base-padding:  2em !default;

// Animations
$base-transition-duration: .5s !default;
$base-transition-function: ease !default;
$base-transition: all $base-transition-duration $base-transition-function !default;


/* ===== SPECIFIC =========================================================== */

// Typography
$caption-font-family:   '#{$font-oxygen}' !default;
$caption-colour:        $green-mako;
$caption-line-height:   1.35;

$link-colour:           $blue-picton;

// Layout & Grid
$block-highlight:       $grey-mercury;

// Borders & Lines
$delim-border-colour:   $grey-mercury;
$delim-border:          $base-border-width solid $delim-border-colour;
$darker-border-colour:  $grey-silver;
