/*==========================================
=            COLOUR DEFINITIONS            =
==========================================*/

// *IMPORTANT* - Colour naming convention
//
// 1) Read why https://davidwalsh.name/sass-color-variables-dont-suck
// 2) Get unique name for the color using http://chir.ag/projects/name-that-color/#005EA5
//    or make one.
// 3) Assign colour to the variable as following: ${base_color}-{unique_name}.


/* ===== BASIC ============================================================== */

$white: #FFF;
$black: #000;


/* ===== BRANDED & ORIGINAL ============================================================ */

$green-victoria:        #115737;
$black-victoria:        #1d2624;
$green-victoria-study:  #549349;

//Buttons
$blue-azure: 			#3468B0;
//Hover button
$blue-st-tropaz: 		#285189;

//Link text
$blue-endeavoura:       #005ea5;
$blue-congress-blue:    #004f8c;
$blue-lochmara:         #007BD8;


/* ===== NAMED PALETTE ====================================================== */

$grey-gallery: 			#EEE; 		//old
$grey-mercury:          #e8e8e8; 	//new
$grey-stack:            #808080; 	//new
$grey-tower:            #A7BBC1; 	//new
$grey-alto:             #DDD; 		//old
$grey-silver:           #CCC; 		//old
$grey-dusty-gray:       #999; 		//new
$grey-mine-shaft:       #333; 		//new

$green-fern:            #63B960;
$green-mako:            #475153;

$blue-curious:          #1483EB;
$blue-picton:           #3C90E6;


/* ===== UI HELPERS ========================================================= */

// Typography
$text-fade-colour:      $grey-tower;


/* ===== OLD =========================================================== */


//TODO: REFACTOR & REMOVE!
$vic-green:     $green-victoria;
$vic-black:     $black-victoria;



$green-finlandia:       #5F6B5F;

$light_grey: $grey-alto;
$blue_action: $blue-endeavoura;
$blue_action_darker: $blue-congress-blue;
$blue_action_lighter: $blue-lochmara;

