/*=======================================
=            BUTTONS & LINKS            =
=======================================*/


// Icons UNICODE codes
$ico-arrow-right:       '\e802';
$ico-book:              '\e803';
$ico-caret-down:        '\e804';
$ico-caret-up:          '\e805';
$ico-magnifier:         '\e801';

.ico
{
    &:before
    {
        @include iconify();
    }

    // Standard triangle
    &.caret:before
    {
        display: inline;
        content: $ico-caret-down;
        font-size: 85%;
    }

    &.book:before { content: $ico-book; }
    &.magnifier:before { content: $ico-magnifier; }
}

