/*===============================
=    ENTRY REQUIEMENTS BLOCK   =
===============================*/

.entry-req-container {
    padding-bottom: 1.5em;
    @include outer-container;
    .degree-req {
        @include fill-parent();
        @include row(table);
        .req-wrap {
            @include media ($tablet-and-bigger) {
                @include span-columns(12);
            }
        }
        .btn-wrap {
            @include media ($tablet-and-bigger) {
                @include span-columns(4);
                @include reset-display;
            }
            .btn {
                @include media ($tablet-and-bigger) {
                    margin: 0;
                }
            }
        }
    }
}


/*===============================
=    DEGREE REQUIEMENTS BLOCK   =
===============================*/

.req-container {
    padding-bottom: 1.5em;
}

.degree-req {
    padding: 0;
    @include media ($tablet-and-bigger) {
        padding: 0 1.5em;
    }
    .req-header {
        padding: 0.5em;
        @include media ($tablet-and-bigger) {
            padding: 1.2em;
        }
        background-color: $grey-gallery;
        border-left: 6px solid $grey-alto;
        margin-bottom: 0.2em;
        h3 {
            font-size: 1.2em;
            margin-bottom: 0;
            // padding-top: 0.3em;
        }
        h3, h4, h5 {
            color: $grey-mine-shaft;
        }
        p {
            font-size: 0.9em;
        }
        .greenify {
            color: $green-victoria;
            // font-size: 1.2em;
        }
        .req-child {
            padding: 0.5em 0;
            h5 {
                padding: 0.5em;
                background-color: $grey-alto;
                margin-bottom: 0;
                margin-top: 0.4em;
            }
            .grand-child {
                padding: 0.5em;
                @include media ($tablet-and-bigger) {
                    padding: 0.1em 1.2em 0.5em 1.2em;
                }
                background-color: $grey-alto;
                // margin-top: 0.3em;
                p {
                    margin-top: 0.4em;
                    padding: 0.5em;
                    background-color: $grey-gallery;
                    border-left: 6px solid $grey-silver;
                }
                .great-grand-child {
                    padding: 0.4em 0 0 0;
                    border-left: 6px solid $grey-silver;
                    p {
                        background-color: $grey-silver;
                        font-size: 0.8em;
                        margin-top: 0.4em;
                        padding: 0.5em 0.5em 0.5em 1.2em;
                        // color: $grey-mine-shaft;
                    }
                    // border-left: 3px solid $grey-silver;
                }
            }
        }
    }
}

// Major block inside Degree requirements page
// TODO: Refactor (after re-factoring in the app!
.majors-requirements {
    .block-container > .block {
        padding-top: 0;
        padding-bottom: 1.5em;

        &:first-child { padding-top: 1.5em; }
    }

    .form { margin-bottom: 1em; }

    .majors-list {
        margin: 1.3em 0 0.5em 0;

        .study-intro, .req-container { margin-bottom: 0; padding-bottom: 0 }
    }

    .container-opened {
        margin-bottom: 1.5em;
        padding-bottom: 1em;
        margin-left: -1.5em;
        margin-right: -1.5em;
        border-bottom: 1px solid $grey-gallery;
    }

    .major {
        margin-bottom: 1.2em;

        &:first-child{ margin-top: 1.1em; }
        &:last-child {
            .container-opened {
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}
