/*===============================
=       QUOTE BLOCK             =
===============================*/

$bg-color: $grey-gallery;

.quote-block {

    background-color: $bg-color;

    .quote-wrap {
        
        padding: 1.5em;
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;

        .quote-image {
            float: left;
            margin-right: 3.5em;
            


            @include media ( $mobile-large-and-smaller ) {
                margin-right: 2em;
            }
            @include media ( $mobile ) {
                margin-right: 1em;
            }

            img {
                @include size ( 180px);
                margin: 0 1em 1em 2.5em;
                border-radius: 50%;

                @include media ( $mobile ) {
                    @include size (120px)
                    margin: 0 0.5em 0.5em;
                }

            }
        }
        .quote-body {
            header {
                float: right;
                @include media ( $desktop-and-bigger ) {
                    float: none;
                }

            }
            h2, h4 {
                color: $grey-mako;
            }

            h2 {
                text-indent: 5px;
                 @include media ( $desktop-and-bigger ) {
                    text-indent: -45px;
                 }

            }

            h4 {
                margin-bottom: 0;
            }

            .ico {
                color: $grey-silver;
                padding-right: 0.5em;
                @include media ( $desktop-and-bigger ) {
                    padding-right: 0;
                }
                
                &:last-child {
                    padding-left: 0.5em;
                }
                
            }
        }
    }
}

.quote-block + .fun-fact {
    background-color: $white;
}
