/*================================
=            TOOLTIPS            =
================================*/

#tooltip {
    text-align: center;
    color: $white;
    background: $black_victoria;
    position: absolute;
    z-index: $z-index-middle;
    padding: 15px;
}

#tooltip:after
/* triangle decoration */

{
    content: '';
    @include size (0);
    @include border-color($black_victoria transparent null transparent) @include border-width (10px 10px null 10px) @include border-style(solid solid null solid) @include position(absolute, null null -10px 50%) margin-left: -10px;
}

#tooltip.top:after {
    @include border-color(transparent null $black_victoria) border-bottom: 10px solid;
    top: -20px;
    bottom: auto;
}

#tooltip.left:after {
    left: 10px;
    margin: 0;
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}

.more-show-hide {
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.more-show-hide.ng-hide {
    opacity: 0;
}

.toggle-dots-grey {
    color: darkgrey;
}

.toggle-dots-yellow {
    color: yellow;
}

.toggle-link-yellow {
    color: yellow;
}

.toggle-link-grey {
    color: darkgrey;
}

// SHOW MORE

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.more-show-hide.ng-leave
{
    // max-height: 0;
    transition: 0.3s ease all;
    opacity: 0;
}





//These arent used

// .text-container {
//     transition: 0.5s ease max-height;
//     max-height: 80px;
//     overflow: hidden;
//     &.text-expanded {
//         transition: 0.5s ease max-height;
//         overflow: visible;
//         max-height: 1500px;
//     }
// }

// .text-wrap {
//     position: relative;
//     .text-overlay {
//         transition: 0.5s ease all;
//         @include position( absolute, 0 0 0 0);
//         @include size( 100% 100%);
//         @include linear-gradient( transparent 0%, transparent 80%, rgba( $white, 1) 100%);
//         &.text-expanded {

//             background-image: none;
//         }
//     }
// }

.btn-text-expand.ng-enter,
.btn-text-expand.ng-leave {
    transition: 0.3s ease all;
    opacity: 0;
    // display: none !important;
}

.btn-text-collapse.ng-enter,
.btn-text-collapse.ng-leave {
    transition: 0.3s ease all;
    opacity: 0;
    // display: none !important;
}
