/*==============================
=            LAYOUT            =
==============================*/


/* ===== RESPONSIVE VIEW WRAPPERS =========================================== */

.view-large {
    font-size: em( 18px);
    @include media( $tablet) {
        font-size: em( 18px);
    }

    @include media( $mobile-large) {
        font-size: em( 16px);
    }

    @include media( $mobile) {
        font-size: em( 15px);
    }
    .main-view {}
}


/* ===== LAYOUT MODIFIERS =================================================== */

// Sticks panels to the bottom
.mobile-sticky-down {
    @include media( $mobile-large-and-smaller) {
        &.sector {
            z-index: $z-index-top;
            @include position( fixed, null 0 0 0);
            &.highlighted {
                border-top: 1px solid $block-highlight-border;
            }
        }
        .menu-tabbed {
            // Switch caret from bottom to top
            .active:after {
                bottom: auto;
                margin-bottom: 0;
                border-top: none;
                top: 0;
                margin-top: -$menu-tabbed-item-triangle-height;
                border-bottom: $menu-tabbed-item-triangle-height solid $menu-tabbed-item-active-bg-colour;
            }
        }
    }
}

.sticky-top {
    @include media ( $tablet-and-bigger) {
        border-bottom: 1px solid $block-highlight-border;
        @include position(fixed, 0 null null null) z-index: $z-index-top;
        width: 100%;
        &.toggle-up {
            top: -73px;
            @include transition(top 0.5s ease-in-out);
        }
        &.toggle-down {
            top: 0;
            @include transition(top 0.2s ease-in);
        }
    }
    li {
        border-left: 1px solid $block-highlight-border;
        &:last-child {
            border-right: 1px solid $block-highlight-border;
        }
    }
}
