/*===============================
=       QUOTE BLOCK             =
===============================*/

$bg-color: $grey-gallery;
.quote-block {
    background-color: $bg-color;
    header {
        @include media ($mobile-large-and-smaller) {
            float: right;
        }
    }
}

.person-block {
    padding-bottom: 2em;
    .quote-text {
        @include media ($mobile-large-and-smaller) {
            float: right;
        }
    }
    .block {
        padding-bottom: 0.8em;
    }
}

.quote-block,
.person-block {
    .quote-wrap {
        @include outer-container;
        padding: 1.5em;
        margin-right: auto;
        margin-left: auto;
        .quote-image {
            float: left;
            margin-right: 6em;
            @include media ( $mobile-large-and-smaller) {
                margin-right: 2em;
            }
            @include media ( $mobile) {
                margin-right: 1em;
            }
            img {
                @include size ( 180px);
                margin-left: auto;
                margin-right: auto;
                border-radius: 50%;
                @include media ( $mobile-large-and-smaller) {
                    @include size (120px);
                }
            }
        }
        .quote-body {
            @include media ( $desktop-large) {
                @include span-columns (10);
            }
            header {
                padding-bottom: 1em;
                @include media ( $desktop-and-bigger) {
                    float: none;
                }
            }
            h2,
            h3,
            h4 {
                margin-bottom: 0;
            }
            .quote-text {
                text-indent: 1em;
                color: $grey-mako;
                @include media ( $desktop-and-bigger) {
                    text-indent: -0.75em;
                }
            }
            .ico {
                color: $grey-silver;
                padding-right: 0.5em;
                @include media ( $desktop-and-bigger) {
                    padding-right: 0.3em;
                    &:last-child {
                        padding-left: 0.75em;
                    }
                }
            }
            .btn {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                .ico.arr-right {
                     color: $grey-mako;
                }
            }
        }
    }
}

.quote-block + .fun-fact {
    background-color: $white;
}

.separated {
    .separated {
        border-bottom: 0;
    }
}
