/*===============================
=            BANNERS            =
===============================*/


/* Banner with background cover */
$banner-cover-max-width:    1200px;
$banner-cover-text-colour:  $white;

.banner-with-cover {
    position: relative;
    overflow: hidden;
    height: auto;

    .cover-overlay {
        @include position( absolute, 0 0 0 0 );
        @include size( 100% 100% );
        @include linear-gradient( transparent 0%, transparent 40%, rgba( #171917, .8 ) 100% ); // TODO: Improve using non-linear functino @include linear-gradient(50deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);

    }

    .cover-holder {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

        .cover-pic {
            @include position( absolute, null 0 0 0);
            min-height: 100%;
            min-width: $banner-cover-max-width;
            @include size(  100% null );

            // Specific to this particular image and its width.
            @media screen and ( max-width: $banner-cover-max-width ) {
                left: 50%;
                margin-left: -$banner-cover-max-width / 2;
            }
        }

    .intro {
        @include outer-container( 0.7 * $base-width-px );
        @include position( relative );
        margin-top: 4.5em;
        margin-bottom: 2em;
        padding: 0 $base-padding;
        color: $banner-cover-text-colour;
        text-align: center;
        z-index: $z-index-lower;
    }

    .title {
        display: inline-block;
        padding: .35em 1.5em;
        color: $banner-cover-text-colour;
        background-color: $green-victoria;
    }

    .abstract { font-size: 120%; }
}


