/*===============================
=       FACTS BLOCK             =
===============================*/

// TODO: Refactor!
.facts-block {
    .facts-wrap {

        .intro-fact {
            @include outer-container;
            margin-bottom: .8em;
        }

        .ico-wrap {
            position: relative;
            margin-bottom: .5em;
            padding-left: 2.75em;

            h4 { margin: 0; }
            p {
                font-size: .9em;
                padding-top: .3em;
            }

            > .ico {
                position: absolute; top: 0; left: 0;
                margin-right: 1.5em;
                width: 50px;
                font-size: 1.9em;

                &:before { vertical-align: top; }
            }
        }

        .tooltip-icon {
            font-size: 115%;
        }

        .fees-fact {
            width: 80%;
            clear: both;

            @include media( $tablet-and-smaller ) {
                width: 100%;
            }

            h4 { font-weight: bold; }

            header {
                h4, p { display: inline-block; }

                .note {
                    font-weight: $weight-light;
                    display: inline;
                    margin: 0; padding: 0;
                }
            }

            .rate {
                .note {
                    padding: 0;
                    margin-bottom: .3em;
                    color: #777;
                    line-height: 1.2;
                }

                .form { margin: .3em 0; }
            }
        }

        .fact {
            @extend .fees-fact;

            @include media( $tablet-and-bigger ) {
                @include make-table-column ( .5 );
            }
        }
    }

    .fact__list {

        .tag {
            font-size: 90%;
            margin: 0 .2em;
            color: $grey-dusty-gray;
            font-weight: $weight-light;
        }
    }
}


.link-more {
    transition: none;
    font-size: 90%;
    margin: 0 .3em;
}

// Inline block that might be or might not be used inside a dynamic content.
.inliner {
    margin-right: .3em;

    & + .link-more {
        margin-left: 0;
    }
}
