/*===============================
=           FUN FACT BLOCK      =
===============================*/

$fun-fact-bg-color: $grey-gallery;

.fun-fact {
    background-color: $fun-fact-bg-color;

    @include media( $tablet-and-bigger ) {
        h2 {
            margin: 0;
            font-size: 3.2em;
            text-align: center;
        }
    }

    .fact-wrap {
        @include outer-container;
        padding: 1.5em;

        .fact-heading {
            @include media( $tablet-and-bigger ) {
                @include span-columns( 3 );
            }
            @include media( $desktop-and-bigger ) {
                @include span-columns( 4 );
            }
        }

        .fact-content {
            @include media( $tablet-and-bigger ) {
                @include span-columns( 5 );
            }
            @include media( $desktop-and-bigger ) {
                @include span-columns( 6 );
            }
        }
    }
}


/*===============================
=     NEED MORE INFO BLOCK      =
===============================*/

$nm-bg-color: $grey-gallery;
.need-more {
    background-color: $nm-bg-color;
    padding: 1em;
    text-align: center;
    .need-more-block {
        padding-top: 1em;
        li {
            padding: 0.5em 0;
            a {
                cursor: link;
                text-decoration: underline;
                white-space: nowrap;
            }
        }
        @include media ( $desktop-and-bigger) {
            width: 100%;
            max-width: 850px;
            margin-right: auto;
            margin-left: auto;
            h4 {
                float: left;
                margin-bottom: 0.8em;
            }
            ul {
                clear: right;
            }
            li {
                padding: 0.5em 0.75em;
                display: inline;
                line-height: 1.5;
            }
        }

    }
}


/*===============================
=      SUBJECT INTRO BLOCK      =
===============================*/

.intro-about-block {
    .intro-about {
        padding: 1.5em;
        @include media( $tablet-and-bigger) {
            float: left;
            @include make-table-column( $two-col-layout-left-ratio);
        }
    }
    .about-subjects-block {
        padding: 1.5em;
        border-bottom: 1px solid $grey-alto;

        @include media( $tablet-and-bigger) {
            float: right;
            @include make-table-column( $two-col-layout-right-ratio);
            border-left: 1px solid $grey-alto;
            border-bottom: 0;
        }
    }
}


/*===============================
=      STUDY OPTIONS BLOCK      =
===============================*/

.subject-block {
    .toggle-block {
        h2,
        h3 {
            float: left;
        }
    }
    .explore-postgrad {
        margin-left: 1.5em;
        margin-top: 1em;
        font-size: 0.9em;
    }
}

.study-options {
    .postgrad-options {
        // padding-top: 2em;
    }
}

.toggle-content {
    .block {
        padding-top: 0;
    }
}

.toggle-block {
    // padding-bottom: 0em;
    h2,
    h3 {
        // float: left;
        a {
            text-decoration: none;
            .ico {
                display: block;
                float: left;
                width: 1em;
                padding-right: 0.5em;
            }
        }
    }
    .tag-wrap {
        // float: right;
        // display: inline-block;
        // margin-top: 0.3em;
        padding-left: 1.3em;
        @include media ($mobile-large-and-smaller) {
            @include span-columns (6);
        }
        @include span-columns (5);
        .tag {
            display: inline-block;
            vertical-align: top;
            color: $green-victoria;
            // float: right;
            font-size: 0.98em;
            // background-color: $grey-alto;
            font-weight: 600;
            // margin: 0.5em;
            padding: 0.5em;
            // border: 1px solid $green-victoria;
            // border-radius: $base-border-radius;
            &:first-child {
                margin-right: 0.3em;
            }
            @include media ($mobile) {
                line-height: 3;
            }
        }
    }
}

.related-degree,
.majors-block {
    .toggle-content {
        max-height: 20000px;
        // opacity: 1;
        transition: 0.5s ease all;
        &.ng-hide {
            max-height: 0;
            opacity: 0;
        }
        &.ng-add,
        &.ng-remove {
            // transition: 1s ease all;
            // opacity: 0;
            // display: none !important;
        }
    }
}


/*===============================
=     DEGREES BLOCK      =
===============================*/

$mar-bot: 0.3em;
.toggle-content {
    .degree-block {
        @include outer-container;
        border-left: 6px solid $grey-alto;
        // border-bottom: 1px solid $grey-alto;
        margin-top: 1em;
        padding: 0.5em 1em 0;
        &:first-child {
            margin-top: 0;
        }
        h4 {
            color: $grey-mako;
            margin-bottom: $mar-bot;
            .degree-code {
                color: $green-victoria;
                font-weight: bold;
            }
        }
        .degree-content {
            @include span-columns(8);
            @include media ( $mobile-large-and-smaller) {
                @include fill-parent();
            }
            .length {
                font-size: 1em;
                .ico {
                    &.clock {
                        font-size: 1.3em;
                    }
                }
            }
            .leads {
                font-size: 0.75em;
                margin-left: 1.5em;
                @include media ( $tablet-and-smaller) {
                    margin-left: 1em;
                }
                a {
                    font-size: 1.2em;
                }
                .ico {
                    &.arr-right {
                        font-size: 1.45em;
                    }
                }
            }
            .leads,
            .length {
                display: inline-block;
                vertical-align: bottom;
                .ico {
                    &.arr-right,
                    &.clock {
                        margin-right: 0.3em;
                        margin-top: 0.3em;
                        line-height: 1;
                        vertical-align: middle;
                    }
                }
            }
        }
        .degree-button {
            min-width: 160px;
            @include span-columns(2);
            @include media ($mobile-large-and-smaller) {
                max-width: 140px;
            }
        }
    }
}


/*===============================
=     IMAGES BLOCK      =
===============================*/

.images-block {
    img {
        width: 100%;
        max-width: 500px;
        border-bottom: 2px solid transparent;
        @include hoverify () {
            border-bottom: 2px solid $blue-endeavoura;
        }
    }
}

.explore-page {
    @include outer-container;
    // @include media ($mobile-large-and-bigger) {
    .block {
        @include media ($tablet-and-bigger) {
            @include span-columns (4);
        }
    }
    // }
}

.explore-areas-page {
    .block {
        ul {
            margin-left: 0.5em;
        }
    }
}
