/*===============================
=            BANNERS            =
===============================*/


/* Banner with background cover */
.banner-with-cover {
    position: relative;
    overflow: hidden;
    height: auto;

    .cover-overlay {
        @include linear-gradient( transparent 0%, transparent 40%, rgba( #171917, .8 ) 100% ); // TODO: Improve using non-linear functino @include linear-gradient(50deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    }

    .cover-overlay {
        @include position( absolute, 0 0 0 0 );
        width: 100%;
        height: 100%;
    }

    .cover-overlay {
    }

    .cover-holder {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

        .cover-pic {
            height: auto;
            width: 100%;
            @include position( absolute, 0 0 0 0);


        }

    .intro {
        @include outer-container( 0.7 * $base-width-px );
        margin-top: 4.5em;
        margin-bottom: 2em;
        padding: 0 $base-padding;
        color: $white;
        position: relative;
        text-align: center;
        z-index: $z-index-lower;
    }

    .title {
        color: $white;
        display: inline-block;
        background-color: $green-fern;
        padding: .35em 1.5em;
    }

    .abstract {
        font-size: 120%;
    }
}



.topic_banner {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    .overlay {
         background: rgba(0, 0, 0, 0.35);
         // @include fill-parent();
         @include position(absolute, 0 0 0 0);
         overflow: hidden;
         max-height: 500px;

    }
}

.banner_text {
    @include position( absolute, 20% null null null );
    @include span-columns(6);
    @include shift(3);
}

.banner_title {
    text-align: center;
    h1 {
        background-color: $green-victoria-study;
        color: $white;
        font-size: 2em;
        text-transform: capitalize;
        display: inline-block;
        @include pad(20px 30px);
        @include margin(0 0 20px 0);
        @include border-top-radius( $base-border-radius );
        @include border-bottom-radius( $base-border-radius );
    }
}

.banner_sub_title {
    @include margin( 40px 0 0 0 );
    border-top: 1px $white solid;
    text-align: center;
    h2 {

        font-family: $base-font-family;
        font-weight: lighter;
        color: $white;
        font-size: 1.5em;
        line-height: 1.2;
        @include pad(20px 0 0 0)
    }
}
