/*======================================
=            FORMS & INPUTS            =
======================================*/


.btn {
  appearance: none;
  background-color: $blue-lochmara;
  border: 0;
  border-radius: $base-border-radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $base-padding $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $blue-congress-blue;
    outline: none;

  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $blue-congress-blue;
    }
  }
}


input,
select[multiple=multiple] {
  background-color: $base-bg-colour;
  border: $base-border;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $base-margin;
  padding: $base-padding / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: $grey-dusty-gray;
  }

  &:focus {
    border-color: $blue-endeavoura;
    outline: none;
  }

  &:disabled {
    background-color: $grey-mercury;
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}
