/*================================
=            TOOLTIPS            =
================================*/




#tooltip {
    text-align: center;
    color: $white;
    background: $black_victoria;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

#tooltip:after
/* triangle decoration */

{
    content: '';
    @include size (0);
    @include border-color($black_victoria transparent null transparent)
    @include border-width (10px 10px null 10px)
    @include border-style(solid solid null solid)
    @include position(absolute, null null -10px 50%)
    margin-left: -10px;
}

#tooltip.top:after {
    @include border-color(transparent null $black_victoria )
    border-bottom: 10px solid;
    top: -20px;
    bottom: auto;
}

#tooltip.left:after {
    left: 10px;
    margin: 0;
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}
