//TODO: Add some descriptions about these mixins

//TODO: These might be helper functions probably need to move them

@mixin hoverify ()
{
    &:hover, &:active, &:focus
    {
        @content;
    }
}

@mixin objectify ( $display: inline-block, $content: "" )
{
    position: relative;
    display: inline-block;
    content: $content,
}

@mixin iconify ( $display: inline-block, $ico-code: "" )
{
    font-family: $font_icons;
    @include objectify ( $display, $ico-code );
}