/*====================================
=            STYLE RESETS            =
====================================*/


* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

address{
    font-style: inherit;
    display: inline;
}
