/*===============================
=       QUOTE BLOCK             =
===============================*/


$bg-color: $grey-gallery;

.block__quote {
    header {
        @include breakpoint ($mobile-large-and-smaller) {
            float: right;
        }
    }
}

.block__person {
    padding-bottom: 2em;

    .quote-text {
        @include breakpoint ($mobile-large-and-smaller) {
            float: right;
        }
    }

    //.block {}
}

.block__quote,
.block__person {
    .quote-wrap {
        @include centralise;
        margin-right: auto;
        margin-left: auto;

        .quote-image {
            float: left;
            margin: 0 5em 1em 0;

            @include breakpoint ( $tablet ) {
                margin-right: 2em;
            }

            @include breakpoint ( $mobile-large) {
                margin-right: 1.5em;
            }
            @include breakpoint ( $mobile) {
                margin-right: 1em;
                margin-bottom: .5em;
            }

            img {
                margin-left: auto;
                margin-right: auto;
                @include size ( 180px);
                border-radius: 50%;
                @include breakpoint ( $mobile-large-and-smaller) {
                    @include size (120px);
                }
            }
        }
        .quote-body {
            width: 100%;

            header {
                padding-bottom: 1em;
                @include breakpoint ( $desktop-and-bigger) {
                    float: none;
                }
            }
            h2,
            h3,
            h4 {
                margin-bottom: 0;
            }

            .quote-text {
                color: $grey-mako;
                text-indent: 0;

                @include breakpoint ( $desktop-and-bigger) {
                    text-indent: -1.45em;
                }
            }

            .ico {
                display: inline; // Makes it unwrappable
                color: $grey-silver;

                &:before{ display: inline; }

                &.quote-start { padding-right: .6em; }
                &.quote-end { padding-left: .6em; }
            }

            .btn {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;

                .ico.arr-right { color: $grey-mako; }
            }

            .holder {
                display: block;
                overflow: hidden;
            }
        }
    }
}

.block__quote .quote-wrap {

    @include breakpoint ( $mobile-large-and-smaller) {
        .quote-body {
            > header { margin-top: 1em; }
            .holder { overflow: inherit; }
        }
    }

    @include breakpoint ( $mobile ) {
        .quote-body {
            display: flex;
            align-items: stretch;
            flex-direction: column-reverse;
            text-align: center;
        }

        .quote-image {
            float: none;
            text-align: center;
        }
    }
}
