/*===============================
=         CONTACT BLOCK         =
===============================*/

$contact-bg-color:      $black-victoria;
$ico-margin:    0.9em;

.footer {
    background-color: $contact-bg-color;

    .fine-print {
        color: $grey-dusty;
        text-align: center;

        p { font-size: .8em; }

        .minilinks {
            margin-bottom: .3em;
            font-size: .85em;
        }
    }

    .minilinks {
        a {
            display: inline-block;
            padding: 0 .25em;
            color: inherit;
            text-decoration: underline;

            @include hoverify () { color: $white; }
        }
    }
}

.victoria-contact {
    background-color: $contact-bg-color;
    padding: 1.75em .5em;
    border-bottom: 1px solid #333;

    h4 {
        color: $white;
        line-height: 1.6;
        text-align: center;
        margin-bottom: 0.8em;
    }
    a {
        color: $white;
        text-decoration: underline;
        font-size: 1.1em;
        @include hoverify () {
            color: $grey-dusty;
        }
    }

    p { color: $grey-dusty; }

    .contact-wrap {
        display: block;
        min-height: 6em;
        text-align: center;
    }

    .block {
        padding: 0.5em;
        margin-right: auto;
        margin-left: auto;
        min-width: 220px;
        width: 33.33%;
        text-align: center;

        @include breakpoint( $tablet-and-smaller ) {
            width: auto;
        }
    }

    .phone-block {
        a {
            .ico {
                // Standard icon styles
                margin-left: $ico-margin;
                line-height: 0;
                font-size: 120%;
                vertical-align: middle;
                // Positioning (right position by default)
                &.left {
                    margin-left: 0;
                    margin-right: $ico-margin;
                }
            }
        }
        .secondary-phone {
            font-size: 0.75em;
            // margin-left: 5em;
            a {
                margin-left: 0.35em;
            }
        }
    }

    .email-block {
        a {
            font-size: 1.1em;
            // vertical-align: middle;
            // line-height: 0;
            .ico {
                // Positioning (right position by default)
                &.left {
                    margin-left: 0;
                    margin-right: $ico-margin;
                }
            }
        }
    }

    .reg-block {
        // padding-left: 2.25em;
        .ico {
            // Positioning (right position by default)
            &.left {
                margin-left: 0;
                margin-right: 0.75em;
            }
        }
    }

    @include breakpoint( $desktop-and-bigger) {
        padding: 1.75em 0;

        .contact-wrap {
            max-width: 990px;
            margin-left: auto;
            margin-right: auto;
        }

        .block {
            width: 25%;
            display: inline-block;
            vertical-align: top;
        }
    }
}
