/*===============================
=       SLIDE SHOW             =
===============================*/

.block__slide-show {

    .block-container { display: block; }

    // .slide-show-image { }
}

//.slide-show__wrap {}

.slide-show__description {
    text-align: center;
    margin: .8em auto 0;

    @include breakpoint ($desktop-and-bigger) {
        max-width: 970px;
    }

    @include breakpoint ($tablet-and-smaller) {
        min-width: 100%;
    }

    @include breakpoint ($mobile-large-and-smaller) {
        max-width: 480px;
    }
}

.slide-show__slide {
    @include breakpoint ($desktop-and-bigger) {
        max-width: 970px;
        min-height: 500px;
    }

    @include breakpoint ($tablet-and-smaller) {
        min-width: 100%;
        min-height: 300px;
    }

    @include breakpoint ($mobile-large-and-smaller) {
        max-width: 480px;
        min-height: 200px;
    }

    position: relative;
    border: 1px solid $grey-silver;
    background-color: $black-victoria;
    //padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;

    img {
        vertical-align: middle;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        display: block;
        @include breakpoint ($desktop-and-bigger) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .nav-wrap {
        height: 3em;
        width: 100%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        background-color: rgba($grey-stack, 0.3);

        .slide-nav {
            position: relative;
            display: inline-block;
            @include grid-column( 6 );
            height: 100%;
            padding: 0 .5em;

            a {
                padding: 0 50%;
                @include position(absolute, 0);
                @include hoverify() {
                    background-color: rgba( $grey-stack, .35 );
                    cursor: pointer;
                }
                z-index: $z-index-middle;
                text-align: middle;
                height: 100%;
                color: $white;
                .ico {
                    font-size: 3em;
                    &:before {
                        top: -0.3em;
                    }
                }
            }
        }
    }
}
