/*====================================
=            CUSTOM LISTS            =
====================================*/


/* ===== TOPICS & PROGRAMMES ================================================ */

$grid-area-margin:              .15em !default;
$grid-area-title-colour:        $grey-mako !default;
$grid-area-title-caret-colour:  $grey-chalice !default;
$grid-area-hover-title-colour:  $white !default;
$grid-area-bg:                  $grey-gallery !default;
$grid-area-hover-bg:            $grey-alto !default;
$grid-area-active-bg:           $green-light-victoria !default;


// Standard grid list containing areas and their previews
.area {
    height: 100%;
    padding: $grid-area-margin;

    .title {
        display: table;
        margin: 0;
        @include size( 100% 100% );
        min-height: 3em;
        font-weight: $weight-light;
        line-height: 1.3;
        text-align: center;
        color: $grid-area-title-colour;

        .ico { margin-left: .7em; }

        > a {
            display: table-cell;
            padding: .75em 1em;
            color: inherit;
            vertical-align: middle;
            font-size: 75%;
            background-color: $grid-area-bg;
            text-decoration: none;

            @include hoverify() {
                background-color: $grid-area-hover-bg;
                color: $link-colour;
            }
        }
    }

    $area-preview-triangle-size: 1.2em;

    .preview {
        display: none; // Hide preview by default
        position: absolute; left: 0;
        width: 100%;
        margin: $grid-area-margin/2 0 0;
        background: $grid-area-bg;

        @include before() {
            position: absolute;
            margin-top: -$area-preview-triangle-size / 2;
            top: .05em; // Safari-related compensation to remove white-space
            left: -$area-preview-triangle-size / 2;
            @include triangle( $area-preview-triangle-size, $grid-area-bg, up );
        }
    }

        .btns-holder {
            text-align: center;

            > a { margin-top: .3em; }
        }

    // Active area showing 'preview'
    .expanded & {
        .title {
            position: relative; top: $grid-area-margin/2;
            color: $grid-area-hover-title-colour;

            // Flick the caret!
            .ico { margin-left: .6em;  }

            > a {
                background-color: $grid-area-active-bg;

                @include hoverify() { color: inherit; }
            }
        }

        // Show preview!
        .preview {
            display: block;
            width: 100%;
        }
    }
}
