/*=============================================================================
=                                     BANNERS                                 =
==============================================================================*/


/* Banner with background cover */

$banner-overlay-bg: #449F37;

$banner-cover-max-width:    1200px;
$banner-cover-text-colour:  $white;
$banner-cover-max-height:   620px;


.banner-with-cover {
    position: relative;
    overflow: hidden;
    height: auto;

    .cover-overlay {
        @include position( absolute, 0 0 0 0);
        @include size( 100% 100% );
    }

    .cover-holder {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .cover-pic {
        @include position( absolute, null 0 0 0);
        min-height: 100%;
        min-width: $banner-cover-max-width;
        width: 100%;

        // Specific to this particular image and its width.
        @media screen and ( max-width: $banner-cover-max-width) {
            left: 50%;
            margin-left: -$banner-cover-max-width / 2;
        }
    }

    .intro {
        z-index: $z-index-lower;
        @include centralise( 990px );
        @include position( relative);
        margin-top: 0;
        margin-bottom: 0.25em;
        padding: 1.8em $base-padding * 1.6;
        color: $banner-cover-text-colour;
        text-align: center;

        .banner-link {
            color: $white;
            text-decoration: underline;
            display: block;
        }
    }

    .title {
        display: inline-block;
        padding: .75em 1.5em;
        margin-top: .75em;
        margin-bottom: 1.2em;
        color: $banner-cover-text-colour;
        background-color: rgba( $banner-overlay-bg, .75 );

        h1,
        h2 {
            margin: 0;
            color: inherit;
        }
    }

    // Smaller page's subtitle placed under the main page title.
    .subtitle {
        font-size: 1.35em;
        line-height: 1.2;

        strong {
            display: inline-block;
            padding: .05em .35em;
            margin-bottom: .2em;
            background: rgba( #000, .25 );
            font-weight: inherit;
        }

        a {
            margin-left: .35em;
            font-size: 85%;
            color: inherit;

            @include hoverify() {
                > span { text-decoration: none; }
            }

            > span { text-decoration: underline; }
        }
    }

    .abstract {
        color: $white;
        padding: .6em .9em;
        background-color: rgba( $banner-overlay-bg, .75 );
    }

        /** International/domestic switcher */
        .content-switcher {
            position: relative;
            display: block;
            float: right;
            color: #FFF;
            text-align: center;

            background-color: rgba( #000, .65 );
            padding: .5em .75em;
            margin: 1em;
        }

    @include breakpoint( $tablet-and-smaller ){
        .intro{ padding: 1.6em; }
        .title{ font-size: 95%; }
        .abstract{ font-size: 1.3em; }
    }

    @include breakpoint( $mobile-large-and-smaller ){
        .intro{ padding: 1em; }

        .title{
            margin: 0 0 .5em;

            .subtitle { margin-top: .5em; }
        }

        .abstract{
            margin: 0;
            font-size: 1.3em;
        }

        .content-switcher {
            float: none;
            margin: 0 0 .5em;
        }
    }
}


/** Banner with an overview (~imageless) */

$banner-bg:                 $block-highlight-colour !default;
$banner-separator-colour:   $delim-highlight-bg-colour !default;


.banner-overview {
    background-color: $banner-bg;
    border-bottom: 1px solid $banner-separator-colour;
    text-align: center;

    .pane-controls {
        font-size: 1.2em;
        font-weight: $weight-bold;

        .control-group {
            display: inline-block;
            margin-right: .75em;
        }
    }
}
