/*====================================
=            CUSTOM LISTS            =
====================================*/


/* ===== TOPICS & PROGRAMMES ================================================ */

$grid-area-margin: .15em !default;
$grid-area-title-colour: $green-mako !default;
$grid-area-title-caret-colour: #AAA !default;
$grid-area-hover-title-colour: $white !default;
$grid-area-bg: $grey-mercury !default;
$grid-area-hover-bg: $grey-alto !default;
$grid-area-active-bg: $green-victoria !default;
// Standard grid list containing areas and their previews
.area {
    padding: $grid-area-margin;
    .title {
        display: table;
        margin: 0;
        @include size( 100% 3.3em);
        font-weight: $weight-light;
        line-height: 1.3;
        text-align: center;
        color: $grid-area-title-colour;
        .ico {
            margin-left: .7em;
        }
        > a {
            display: table-cell;
            padding: .5em 1em;
            color: inherit;
            vertical-align: middle;
            font-size: 75%;
            background-color: $grid-area-bg;
            text-decoration: none;
            @include hoverify() {
                background-color: $grid-area-hover-bg;
                color: $link-colour;
            }
        }
    }
    .preview {
        display: none; // Hide preview by default
        position: absolute;
        left: 0;
        margin: $grid-area-margin;
        background: $grid-area-bg;
        > .block:last-child {
            padding-top: $base-padding / 3;
        }
    }
    // Active area showing 'preview'
    .expanded & {
        .title {
            position: relative;
            top: .1em;
            color: $grid-area-hover-title-colour;
            // Flick the caret!
            .ico {
                margin-left: .4em;
            }
            > a {
                background-color: $grid-area-active-bg;
                @include hoverify() {
                    color: inherit;
                }
            }
        }
        // Show preview!
        .preview {
            display: block;
            width: 100%;
        }
    }
}

.content-simple {
    .ext-links {
        text-align: left;
        @include media( $desktop-and-bigger) {
            margin-top: 2.2em;
        }
    }
}


/* ===== TAG LIST ========================================================== */

// settings
$tag-bg-color: $blue-humming-bird;
// ---------------------
//use for a heading before the inline list
.tag-list-title {
    padding-right: 0.5em;
}

.tag-list {
    li.tag {
        display: inline-block;
        background-color: $tag-bg-color;
        padding: .15rem .5rem;
        margin-right: .35em;
        margin-bottom: .25rem;

        a.active {
            padding-right: 24px;

            &:after {
                padding-left: 0.4em;
                // display:;

                margin-right: -24px;
                @include iconify( $ico-code: $ico-code-ok)
                display: inline;
            }
        }
    }
}
