/*===============================
=       VIDEO BLOCK             =
===============================*/

$bg-color: $grey-gallery;

.block__video {
    padding: 1em 0;
    position: relative;

    &:last-child {
        margin-right: auto; margin-left: auto; // Center
        max-width: 970px;

        @include media ($tablet-and-smaller) {
            padding: 1em;
        }
    }

    .cover-text-overlay {
         @include media ($tablet-and-bigger) {
            position: absolute;
            top: 0;
            @include span-columns (4)
            margin: 2em 1em 1em;
            z-index: 1;
            background-color: rgba($green-victoria, 0.9);
         }

        @include outer-container;
        background-color: $green-victoria;
        padding: 1em;
        header {
            @include span-columns (12);
            @include media ($mobile-large-and-bigger) {
                @include span-columns (4);

            }
            float: left;
            h2,
            h4 {
                color: $white;
            }
        }
        .button-wrap {
            // padding: 0.5em;
            text-align: center;
            @include span-columns (12);
            @include media ($mobile-large-and-bigger) {
                @include span-columns (2);
            }
            .ico {
                color: $white;
                &.youtube-play {
                    font-size: 3em;
                }
            }
        }
        @include hoverify (){
            background-color: rgba($green-victoria, 1);
            cursor: pointer;
        }
    }
    .video-body {
        position: relative;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        @include media ($desktop-and-bigger) {
            max-width: 970px;
            min-height: 546px;
        }
        @include media ($tablet-and-smaller) {
            min-width: 100%;
            min-height: 360px;
        }
        @include media ($mobile-large-and-smaller) {
            max-width: 480px;
            min-height: 270px;
        }
        .cover-overlay {
            z-index: $z-index-lower;
            @include position( absolute, 0);
            @include media ($tablet-and-bigger) {}
            @include size ( 100%);

            .cover-image-holder {
                @include position( absolute, 0);
                overflow: hidden;

                img {
                    @include position( absolute, 0);
                    @include size ( auto 100%);

                    @include media ($mobile-large-and-bigger) {
                        @include size ( 100% auto)
                    }

                    @include media ($mobile ) {
                        left: 50%;
                        margin-left: -240px;
                    }


                    @include media ($desktop-and-bigger) {
                        @include size (auto 100%)
                    }
                }
            }
        }
        .close {
            color: $white;
            background-color: rgba($green-victoria, 0.5);
            font-size: 2em;
            margin: 0.3em;
            padding: 0 1em;
            @include position( absolute, null 0 null null);
            z-index: $z-index-top;
        }
        .video-wrap {
            position: relative;
        }
        .video-frame-wrap {
            @include size(100%) @include position( absolute, 0);
        }
    }
}

.video__description {
    margin: .5em 0;
}

// TODO: refactor
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
