/*===============================
=       NOTIFICATION OVERLAY    =
===============================*/

.notification-overlay {
    font-size: 18px; // FIXME: Remove to use 1rem or 100%
    overflow-y: auto;
    overflow-x: hidden;
    z-index: $z-index-max;
    @include position( fixed, 0 );
    background-color: rgba( $white, .98 );
    text-align: center;

    h1,
    h2 {
        font-weight: $weight-semibold;
        line-height: 1.25;
        color: $green-victoria;
    }

    h1 { font-size: 1.8em; margin-bottom: .8em; }
    h2 { font-size: 1.5em; }

    .logo.large {
        max-width: 25em;
        margin: 3em 2.5% 0;
    }

    @include media( $mobile-large-and-smaller ) {
        .logo.large {
            max-width: 80%;
            margin: 2em 0 .7em;
        }

        h1,
        h2 {
            line-height: 1.2;
        }

        h2 {
            margin-bottom: .2em;
        }
    }

    /* Notification types */

    // Error
    .err {}

    // Progress
    .loading {
        h1 {
            color: $green-bottle-green;
            font-weight: $weight-semibold;
        }

        .ico.spin
        {
            vertical-align: middle;
            margin: .2em;
        }
    }
}
