/*======================================
=            FORMS & INPUTS            =
======================================*/



//This shloud probably be in base
input,
select[multiple=multiple],
textarea {
  background-color: $base-bg-colour;
  border: $text-input-border;
  box-sizing: border-box;
  font-family: $base-font-family;
  margin-bottom: 1em;
  padding: $base-padding / 3;
  width: 100%;

  &:hover { border-color: $grey-dusty; }

  &:focus {
    border-color: $blue-endeavoura;
    outline: none;
  }

  &:disabled {
    background-color: $grey-gallery;
    cursor: not-allowed;

    &:hover { border: $base-border; }
  }
}

input[type=range] {
    padding-left: 0;
    padding-right: 0;
}
