/*===============================
=       FACTS BLOCK             =
===============================*/

// TODO: Refactor!
.facts-block {
    @include clearfix;

    .facts-wrap {

        .intro-fact {
            @include outer-container;
            margin-bottom: .8em;
        }

        .ico-wrap {
            position: relative;
            margin-bottom: .5em;
            padding-left: 2.75em;

            h4 { margin: 0; }
            p {
                font-size: .9em;
                padding-top: .3em;
            }

            > .ico {
                position: absolute; top: 0; left: 0;
                margin-right: 1.5em;
                width: 50px;
                font-size: 1.9em;

                &:before { vertical-align: top; }
            }
        }

        .tooltip-icon {
            font-size: 115%;
            position: relative; top: -.05em;
        }

        .fees-fact {
            display: block;
            width: 80%;
            clear: both;

            @include media( $tablet-and-smaller ) {
                width: 100%;
            }

            h4 { font-weight: bold; }

            header {
                h4, p { display: inline-block; }

                .note {
                    display: inline;
                    margin: 0; padding: 0;
                    font-weight: $weight-light;
                }
            }

            .rate {
                .note {
                    padding: 0;
                    margin-bottom: .3em;
                    color: #777;
                    line-height: 1.2;
                }

                .form { margin: .3em 0; }
            }
        }

        .fact {
            @extend .fees-fact;

            @include media( $tablet-and-bigger ) {
                @include make-table-column ( .5 );
            }
        }

        .fact__list {

            .tags {
                margin-left: .7em;
                &.ico:before {
                    font-size: 100%;
                    margin-right: 0;
                }
            }

            .collapsible__control {
                font-size: 90%;
                padding-top: 0;

                @include media( $desktop-and-bigger ) {
                    text-align: left;

                    & > a { padding-left: 0; }
                }
            }
        }

        .fact__row {
            display: block;

            // TODO: Refactor
            .title, .note {
                display: inline-block;
                padding-top: 0;
                vertical-align: top;
            }

            .note { padding-top: .1em;}
            .title { margin-right: .4em; }
        }
    }
}
