/*===============================
=   WELLINGTON PROMO BLOCK      =
===============================*/

$top-promo-color:    rgba( $green-light-victoria, 0.9 );
$action-promo-hover: darken( $green-light-victoria, 11% );


.block__image-promo {
    overflow: hidden;
    position: relative;
    padding: $base-margin;
    height: auto;

    .promo-body .promo-action { margin-top: 0; }

    .cover-holder {
        img {
            @include position( absolute, 0 );
            min-height: 100%;
            min-width: 1200px;
            width: 100%;
        }
    }
    .promo-body {
        z-index: $z-index-lower;
        @include margin ( 2em auto );
        position: relative;
        max-width: 750px;
        background-color: $top-promo-color;
        text-align: center;

        h2,
        p,
        a {
            color: $white;
        }

        header { padding: $base-margin * 1.5 $base-margin; }

        .btns-holder {
            display: block;
            padding: 0 0 1.5em;
            width: 100%;

            .btn {
                margin: 0 .35em .35em;
                @include add-border-inset( $white, 2px );
                @include hoverify{ background-color: rgba( $white, .2 ); }
            }
        }
    }
}


/** Set of images laid next to/behind each other. */
//TODO: Redesign and inherit/share styles with other media types
.block__images { text-align: center; }

    .image__wrap {
        margin: .7em;

        img { display: block; }

        // Full size
        &.stretched  { width: 100%; }

        // Narrowed down
        &.narrow { max-width: 970px; }

        &.narrow,
        &.stretched {
            margin-left: auto;
            margin-right: auto;

            &:last-child { margin-bottom: 0; }
            img { width: 100%; }
        }

        .caption { margin-top: .5em; }
    }


/** Logos laid next to each other in the available column */
.block__logos {

    // `Triple-crown`-type logo size
    $tc-logo-height: 120px;
    $tc-logo-width:  150px;

    // Default logo - sizing based on `Triple Crown`-type logos.
    img {
        margin:     .5em 1em;
        width:      auto;
        max-height: $tc-logo-height;
        max-width:  $tc-logo-width;

        vertical-align: middle;
        border:         none;

        // &.logo--type {} to override default behavior
        &.large {
            max-width:  2 * $tc-logo-width;
            max-height: 2 * $tc-logo-height;
        }
    }
}
/* Style for image wrape compnenent */
.logo--wrap {
    float: right;

    @include breakpoint( $mobile-large-and-smaller ) {
        img {
            max-width: 150px;
        }
    }
}
