/*===============================
=       QUOTE BLOCK             =
===============================*/

$bg-color: $grey-gallery;
.block__quote {
    header {
        @include media ($mobile-large-and-smaller) {
            float: right;
        }
    }
}

.person-block {
    padding-bottom: 2em;

    .quote-text {
        @include media ($mobile-large-and-smaller) {
            float: right;
        }
    }
    .block {
        padding-bottom: .8em;
    }
}

.block__quote,
.person-block {
    .quote-wrap {
        @include outer-container;
        margin-right: auto;
        margin-left: auto;

        .quote-image {
            float: left;
            margin: 0 5em 1em 0;


            @include media ( $tablet ) {
                margin-right: 2em;
            }

            @include media ( $mobile-large) {
                margin-right: 1.5em;
            }
            @include media ( $mobile) {
                margin-right: 1em;
                margin-bottom: .5em;
            }

            img {
                @include size ( 180px);
                margin-left: auto;
                margin-right: auto;
                border-radius: 50%;
                @include media ( $mobile-large-and-smaller) {
                    @include size (120px);
                }
            }
        }
        .quote-body {
            width: 100%;

            header {
                padding-bottom: 1em;
                @include media ( $desktop-and-bigger) {
                    float: none;
                }
            }
            h2,
            h3,
            h4 {
                margin-bottom: 0;
            }
            .quote-text {
                color: $grey-mako;
                text-indent: 0;

                @include media ( $desktop-and-bigger) {
                    text-indent: -1.45em;
                }

                @include media ( $tablet-and-smaller) {
                    .ico.quote-start { padding-left: .6em; }
                }
            }

            .ico {
                display: inline; // Makes it unwrappable
                color: $grey-silver;

                &:before{ display: inline; }

                &.quote-start { padding-right: .6em; }
                &.quote-end { padding-left: .6em; }
            }

            .btn {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;

                .ico.arr-right { color: $grey-mako; }
            }

            .holder {
                display: block;
                overflow: hidden;
            }
        }
    }
}

.block__quote .quote-wrap .quote-body {
    @include media ( $mobile-large-and-smaller) {
        .holder { overflow: inherit; }
        header { margin-top: 1em;  }
    }
}

// .separated {
//     .separated {
//         border-bottom: 0;
//     }
// }
