/*================================
=            TOOLTIPS            =
================================*/

$tooltip-bg:            $black_victoria;
$tooltip-caret-size:    20px;

#tooltip {
    position: absolute;
    font-size: .9rem;
    z-index: $z-index-middle;
    padding: 1em;
    max-width: 35em;
    text-align: center;
    color: $white;
    background: $tooltip-bg;

    img {
        @include size( 88px 33px ); // TODO: Make universal
    }


    /* Tooltip's `tip` */

    // Bottom position (default)
    &:after {
        @include size ( 0 );
        @include position( absolute, null null null 50% );
        margin-left: -10px;
        content: '';
    }

    // Positions
    &.bottom {
        &:after {
            top: auto;
            bottom: -1/2*$tooltip-caret-size;
            @include triangle( $tooltip-caret-size $tooltip-caret-size/2, $tooltip-bg transparent, down );
        }
    }

    &.top {
        &:after {
            @include triangle( $tooltip-caret-size $tooltip-caret-size/2, $tooltip-bg transparent, up );
            top: -1/2*($tooltip-caret-size);
            bottom: auto;
        }
    }

    &.left {
        &:after {
            left: 10px;
            margin: 0;
        }
    }

    &.right {
        &:after {
            right: 10px; left: auto;
            margin: 0;
        }
    }
}

// Tooltip, that can be popped up by clicking on it
.tooltip-popup {
    cursor: pointer;
}
