/*===============================
=           FUN FACT BLOCK      =
===============================*/


$fun-fact-bg-color: $grey-gallery;


.block__fact {}


.fact__title {
    margin-bottom: 0;
    font-size: 3.2em;
    line-height: 1;
    text-align: right;
}


.fact__heading,
.fact__content {
    vertical-align: middle;
}


@include media( $tablet-and-smaller ) {

    .fact__heading.block { padding-bottom: 0; }

    .fact__content,
    .fact__title {
        text-align: center;
    }

    .fact__title {
        margin-bottom: .2em;
        font-size: 3em;
    }

}






/*===============================
=     NEED MORE INFO BLOCK      =
===============================*/

$nm-bg-color: $grey-gallery;

.need-more {
    background-color: $nm-bg-color;
    padding: 1em;
    text-align: center;
    .need-more-block {
        padding-top: 1em;
        li {
            padding: 0.5em 0;
            a {
                cursor: pointer;
                text-decoration: underline;
                white-space: nowrap;
            }
        }
        @include media ( $desktop-and-bigger) {
            width: 100%;
            max-width: 850px;
            margin-right: auto;
            margin-left: auto;
            h4 {
                float: left;
                margin-bottom: 0.8em;
            }
            ul {
                clear: right;
            }
            li {
                padding: 0.5em 0.75em;
                display: inline;
                line-height: 1.5;
            }
        }

    }
}


/*===============================
=      SUBJECT INTRO BLOCK      =
===============================*/

.intro-about-block {
    .intro-about {
        padding: 1.5em;
        @include media( $tablet-and-bigger) {
            float: left;
            @include make-table-column( $two-col-layout-left-ratio);
        }
    }
    .about-subjects-block {
        padding: 1.5em;
        border-bottom: 1px solid $grey-alto;

        @include media( $tablet-and-bigger) {
            float: right;
            @include make-table-column( $two-col-layout-right-ratio);
            border-left: 1px solid $grey-alto;
            border-bottom: 0;
        }
    }
}


/*===============================
=      STUDY OPTIONS BLOCK      =
===============================*/

.subject-block {
    .explore-postgrad {
        margin-left: 1.5em;
        margin-top: 1em;
        font-size: .9em;
    }
}

.toggle-content {
    margin-top: -$base-margin;
}

.toggle-header {
    display: table;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;

    h2,
    h3 {
        display: inline-block;
        margin-bottom: 0;

        a {
            text-decoration: none;

            .ico {
                display: block;
                float: left;
                width: 1em;
                padding-right: .5em;
            }
        }
    }

    .tags {
        position: relative;
        top: -.1em;
        margin-left: 1.5em;
        cursor: default;
    }
}

/* List of tags */
.tags {
    display: inline-block;

    .tag {
        display: inline-block;
        color: #888;
        font-size: 90%;
        font-weight: $weight-normal;

        &:first-child {
            .ico {
                font-size: 115%;
                margin-right: .5em;
            }
        }

        &:after {
            display: inline-block;
            content: "/";
            padding: 0 .15em;
        }

        &:last-child {
            &::after {
                content: "";
            }
        }
    }
}

.related-degree,
.majors-block {
    .toggle-content {
        max-height: 20000px;
        // opacity: 1;
        transition: 0.5s ease all;
        &.ng-hide {
            max-height: 0;
            opacity: 0;
        }
        &.ng-add,
        &.ng-remove {
            // transition: 1s ease all;
            // opacity: 0;
            // display: none !important;
        }
    }
}


/*===============================
=     DEGREES BLOCK      =
===============================*/

$mar-bot: 0.3em;
.toggle-content {
    .degree-block {
        @include outer-container;
        border-left: 6px solid $grey-alto;
        // border-bottom: 1px solid $grey-alto;
        margin-top: 1em;
        padding: 0.5em 1em 0;
        &:first-child {
            margin-top: 0;
        }
        h4 {
            color: $grey-mako;
            margin-bottom: $mar-bot;
            .degree-code {
                color: $green-victoria;
                font-weight: bold;
            }
        }
        .degree-content {
            @include span-columns(8);
            @include media ( $mobile-large-and-smaller) {
                @include fill-parent();
            }

            h4 {
                margin-bottom: .7em;
            }

            .leads,
            .length {
                display: inline-block;
                vertical-align: bottom;
                margin: 0 1em .3em .5em;

                .ico {
                    margin: 0 .25em 0 0;

                    &.arr-right,
                    &.clock {
                        line-height: 1;
                        vertical-align: middle;
                    }
                }
            }

            .length .ico {

                position: relative; top: -.1em;
                font-size: 120%;
            }

            .leads .ico {
                font-size: 1.45em;
                margin-right: .33em;
            }
        }
        .degree-button {
            min-width: 160px;
            white-space: nowrap;

            @include span-columns(2);
            @include media ($mobile-large-and-smaller) {
                max-width: 140px;
            }
        }
    }
}


/*===============================
=     IMAGES BLOCK             =
===============================*/

.images-block {
    img {
        width: 100%;
        max-width: 500px;
        border-bottom: 2px solid transparent;
        @include hoverify () {
            border-bottom: 2px solid $blue-endeavoura;
        }
    }
}

.explore-page {
    @include outer-container;
    // @include media ($mobile-large-and-bigger) {
    .block {
        @include media ($tablet-and-bigger) {
            @include span-columns (4);
        }
    }
    // }
}

.explore-areas-page {
    .block {
        ul {
            margin-left: 0.5em;
        }
    }
}
