/*===============================
=            BANNERS            =
===============================*/


/* Banner with background cover */

$banner-cover-max-width:    1200px;
$banner-cover-text-colour:  $white;
$banner-cover-max-height:   620px;
$banner-color: $green-victoria-study;

.banner-with-cover {
    position: relative;
    overflow: hidden;
    height: auto;

    .cover-overlay {
        @include position( absolute, 0 0 0 0);
        @include size( 100% 100%);
    }

    .cover-holder {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .cover-pic {
        @include position( absolute, null 0 0 0);
        min-height: 100%;
        min-width: $banner-cover-max-width;
        width: 100%;

        // Specific to this particular image and its width.
        @media screen and ( max-width: $banner-cover-max-width) {
            left: 50%;
            margin-left: -$banner-cover-max-width / 2;
        }
    }
    .intro {
        @include outer-container( 990px );
        @include position( relative);
        margin-top: 0;
        margin-bottom: 0.25em;
        padding: 2.2em $base-padding * 1.6;
        color: $banner-cover-text-colour;
        text-align: center;
        z-index: $z-index-lower;

        .banner-link {
            color: $white;
            text-decoration: underline;
            display: block;
        }
    }
    .title {
        display: inline-block;
        padding: .35em .75em;
        margin-top: .3em;
        margin-bottom: .5em;
        color: $banner-cover-text-colour;
        background-color: rgba( $banner-color, .75 );
    }

    .abstract {
        color: $white;
        padding: .6em .9em;
        background-color: rgba( $banner-color, .75 );
    }

    /** International/domestic switcher */
    .content-switcher {
        position: relative;
        display: block;
        float: right;
        color: #FFF;
        text-align: center;

        background-color: rgba( #000, .65 );
        padding: .5em .75em;
        margin: 1em;
    }

    @include media( $tablet-and-smaller ){
        .intro{ padding: 1.6em; }
        .title{ font-size: 2em; }
        .abstract{ font-size: 1.3em; }
    }

    @include media( $mobile-large-and-smaller ){
        .intro{ padding: 1em; }
        .title{ margin: 0 0 .5em; }
        .abstract{ margin: 0; font-size: 1.3em; }

        .content-switcher{ 
            float: none;
            margin: 0 0 .5em;
        }
    }
}
