/*===============================
=   WELLINGTON PROMO BLOCK      =
===============================*/

$top-promo-color: rgba( $green-victoria, 0.9 );
$action-promo-color: rgba( darken( $green-victoria, 8% ), 0.75 );
$action-promo-hover: darken( $green-victoria, 11% );


.image-promo-block {
    position: relative;
    overflow: hidden;
    height: auto;
    padding: 1.5em 0;

    .cover-holder {
        img {
            @include position( absolute, 0 );
            // height: ;
            min-height: 100%;
            min-width: 1200px;
            width: 100%;
        }
    }
    .promo-body {
        max-width: 750px;
        @include margin (2em auto);
        position: relative;
        background-color: $top-promo-color;
        text-align: center;
        z-index: $z-index-lower;

        h2, p, a {
            color: $white;
        }

        header {
            padding: 2em;
        }

        .promo-action {
            width: 100%;
            background-color: $action-promo-color;
            margin-top: 1em;
            a {
                padding: 1em;
                display: block;
                width: 100%;
                @include hoverify () {
                    color: #FFF;
                    text-decoration: underline;
                    background-color: $action-promo-hover;
                }
            }
        }

    }
}

.images-block {

    $tc-logo-height:    120px;
    $tc-logo-width:     150px;

    // Triple-crown logos (usually laid next to each other)
    .logo-triplecrown {
        vertical-align: middle;
        margin: .5em 1em;
        border: none;
        width: auto;
        max-height: $tc-logo-height;
        max-width: $tc-logo-width;

        //TODO: Overriding other rules with same specificity - make it collision free.
        @include hoverify() { border: none; }
    }
}