/*================================
=            TOOLTIPS            =
================================*/

$tooltip-bg:            $black_victoria;
$tooltip-caret-size:    20px;

#tooltip {
    position: absolute;
    font-size: .9em;
    z-index: $z-index-middle;
    padding: $base-margin / 2;
    max-width: $base-width * .45;
    text-align: center;
    color: $white;
    background: $tooltip-bg;

    img {
        @include size( 88px 33px ); // TODO: Make universal
    }


    /* Tooltip's `tip` */

    // Bottom position (default)
    @include after( $position: absolute ) {
        left: 50%;
        @include size ( 0 );
        margin-left: -10px;
    }

    // Positions
    &.bottom {
        &:after {
            top: auto;
            bottom: -1/2*$tooltip-caret-size;
            @include triangle( $tooltip-caret-size $tooltip-caret-size/2, $tooltip-bg transparent, down );
        }
    }

    &.top {
        &:after {
            @include triangle( $tooltip-caret-size $tooltip-caret-size/2, $tooltip-bg transparent, up );
            top: -1 / 2*($tooltip-caret-size);
            bottom: auto;
        }
    }

    &.left {
        &:after {
            left: 10px;
            margin: 0;
        }
    }

    &.right {
        &:after {
            right: 10px; left: auto;
            margin: 0;
        }
    }
}

// Tooltip, that can be popped up by clicking on it
.tooltip-popup {
    cursor: pointer;
}
