/*================================
=            SETTINGS            =
================================*/

/* Configs, brand colors, spacing units, paths and more, defined as variables. */

// *Note*: Imports are order sensitive!
@import 'settings._imports.scss';
@import 'settings.paths.scss';
@import 'settings.fonts.scss';
@import 'settings.colours.scss';
@import 'settings.global.scss';
@import 'settings.responsive.scss';
@import 'settings.libs-overrides.scss';

