/*=========================================================
=            RESPONSIVE SETTINGS AND VARIABLES            =
=========================================================*/


/* ===== PROPERTIES ========================================================= */


/**
 * IMPORTANT: Whenever the following boundary values change, they
 * also need to be MANUALLY updated within HTML templates (e.g.
 * within responsive <picture> elements).
 */


$mobile-max-width:          30rem;
$mobile-layout-ratio:       .85;

$mobile-large-min-width:    30rem;
$mobile-large-max-width:    45rem;
$mobile-large-layout-ratio: .9;

$tablet-min-width:          45rem;
$tablet-max-width:          60rem;
$tablet-layout-ratio:       .95;

$desktop-min-width:         60rem;
$desktop-max-width:         $base-width;

$desktop-large-min-width:   $base-width;





/* ===== BREAKPOINTS ======================================================== */


// Small-screen mobile devices

$mobile:                    'screen and ( max-width: $mobile-max-width )';


// Medium-size to large mobile devices

$mobile-large:              'screen and ( max-width: $mobile-large-max-width ) and ( min-width: $mobile-large-min-width )';
$mobile-large-and-smaller:  'screen and ( max-width: $mobile-large-max-width )';
$mobile-large-and-bigger:   'screen and ( min-width: $mobile-large-min-width )';


// Tablet devices

$tablet:                    'screen and ( max-width: $tablet-max-width ) and ( min-width: $tablet-min-width )';
$tablet-and-smaller:        'screen and ( max-width: $tablet-max-width)';
$tablet-and-bigger:         'screen and ( min-width: $tablet-min-width)';


// Smaller desktop devices

$desktop:                   'screen and ( max-width: $desktop-max-width ) and ( min-width: $desktop-min-width )';
$desktop-and-smaller:       'screen and ( max-width: $desktop-max-width )';
$desktop-and-bigger:        'screen and ( min-width: $desktop-min-width )';


// Large desktop devices

$desktop-large:             'screen and ( min-width: $desktop-large-min-width )';

@mixin breakpoint( $devices-range ) {
    @media #{$devices-range} {
        @content;
    }
}
