/*=============================================================================
=                              COLOUR DEFINITIONS                             =
==============================================================================*/

// *IMPORTANT* - Colour naming convention
//
// 1) Read why https://davidwalsh.name/sass-color-variables-dont-suck
// 2) Get unique name for the color using http://chir.ag/projects/name-that-color/#005EA5
//    (or make one).
// 3) Assign colour to the variable as following: ${base_color}-{unique_name}.


/* ===== BASIC ============================================================== */


$white:                #FFF;
$black:                #000;





/* ===== BRANDED ============================================================ */


$green-victoria:       #115737;
$green-light-victoria: #64a659;
$black-victoria:       #1d2624;





/* ===== NAMED PALETTE ====================================================== */


// Greys
$grey-gallery:         #EEE;
$grey-alto:            #DDD;
$grey-silver:          #CCC;
$grey-silver-chalice:  #BFBFBF;
$grey-chalice:         #AAA;
$grey-dusty:           #999;
$grey-stack:           #808080;
$grey-dove:            #666;
$grey-mako:            #475153;
$black-tundora:        #424242;
$grey-mine-shaft:      #333;


// Buttons
$blue-azure:           #3363B3; // Button
$blue-st-tropaz:       #285189; // Button's hover


// Links
$blue-endeavoura:      #005ea5; // Link
$blue-curious:         #2B8CC4; // Link's hover text

// Accessiblity
$blue-accessibility:   #2E8ACA;



// Others
$blue-grey-tower:      #A7BBC1;
$yellow-spring-wood:   #F4F4E9; // Used for important highlights

$red-roof-teraccota:   #AF1B1B;

/** Not used anywhere yet - uncomment & move to start using any of those. */
// $green-chrome-white:   #E7F0D4; // green highlight

//$yellow-pearl-lusta:   #FCF8E3; // Alert highlight
//$yellow-cinamon:       #705602; // Dark yellow for warning text

//$blue-humming-bird:    #E4F3FB; // Alert Promo & Info
//$blue-callypso:        #255C79; // Dark blue for Promo & Info text

//$green-tara:           #E2F7E2; // Alert success
//$green-killarney:      #2C6B2C; // Dark green for success text

// $red-medium-violet:    #CC328E; // Input[text] Error
// $red-oyster-pink:      #ECCDCD; // Danger/Error lighter highlight




