/*============================================================================= =                               PATHS AND URLS                                =
==============================================================================*/


// *Note*: All paths are relative and *COULD* be overriden!
// Usage inside CSS properties through interpolation as following: #{$pathType}


/* ===== LOCAL PATHS ======================================================== */


// Relative path from main css file to the assets folder
$path-assets:    '..' !default;


// 1st level
$path-imgs:      $path-assets + '/img' !default;
$path-fonts:     $path-assets + '/fonts' !default;





/* ===== CDNS =============================================================== */


// 1st level
$path-cdn:        'https://static.victoria.ac.nz';


// 2nd level
$path-cdn-imgs:    $path-cdn + '/img' !default;
$path-cdn-fonts:   $path-cdn + '/fonts' !default;





/* ===== FONTS ============================================================== */


$path-font-victoria:      $path-cdn-fonts + '/NationalWebLF' !default;
$path-fonticon-victoria:  $path-fonts + '/vicicons' !default;



