/*========================================
=            FONT DEFINITIONS            =
========================================*/


/* ===== FONT CONSTANTS ===================================================== */

$font-victoria:         'National' !default;
$font-victoria-icons:   'VicIcons' !default;


/** Available weights */

$weight-thin:      200;
$weight-light:     300;
$weight-normal:    400;
$weight-medium:    500; // *DO NOT* use for headings
$weight-semibold:  600;
$weight-bold:      700; // *DO NOT* use for headings
$weight-extrabold: 800;
