/*==========================================
=            COLOUR DEFINITIONS            =
==========================================*/

// 1. Import of base libraries
@import '../libs/bourbon/app/assets/stylesheets/bourbon.scss';
@import '../libs/neat/app/assets/stylesheets/neat.scss';


// *IMPORTANT* - Colour naming convention
//
// 1) Read why https://davidwalsh.name/sass-color-variables-dont-suck
// 2) Get unique name for the color using http://chir.ag/projects/name-that-color/#005EA5
//    or make one.
// 3) Assign colour to the variable as following: ${base_color}-{unique_name}.


/* ===== BASIC ============================================================== */

$white:                #FFF;
$black:                #000;


/* ===== BRANDED & ORIGINAL ============================================================ */

// TODO: Refactor all the greens!
$green-victoria:       #64a659;
$green-victoria-old:   #449F37;
$black-victoria:       #1d2624;
$green-victoria-study: #549349;


//Vic Green variations
$green-bottle-green:   #0D4B2F;
$green-bottle-darker:  #093521;

//Buttons
$blue-azure:           #3468B0;
//Hover button
$blue-st-tropaz:       #285189;

//Link text
$blue-endeavoura:      #005ea5;
//Link hover
$blue-curious-blue:    #2B8CC4;


/* ===== NAMED PALETTE ====================================================== */

//===================

//IN ORDER LIGHT > DARK

// ORINGINAL GREYS
$grey-gallery:         #EEE;
$grey-alto:            #DDD;
$grey-silver:          #CCC;

// NEW GREYS
$grey-silver-chalice:  #bfbfbf;
$grey-dusty-gray:      #999;
$grey-stack:           #808080;
$grey-mako:            #475153;
$grey-mine-shaft:      #333;

// ORINGINAL BLACK FOR TEXT
$black-tundora:        #444;



// Other Highlights
$blue-humming-bird: #E4F3FB;




//===================

// NEW GREYS
$grey-mercury:		#e8e8e8; //should remove this, use grey-gallery instead

//===================

//NEW OTHER - unsure on these

$green-fern:           #63B960;
$blue-curious:         #1483EB;
$blue-picton:          #3C90E6;
$blue-grey-tower:      #A7BBC1;

//===================


// NAME FIXES - refactor

$green-mako:           $grey-mako;
$grey-tower:           $blue-grey-tower;

$vic-green:            $green-victoria;
$vic-black:            $black-victoria;

//===================

/* ===== UI HELPERS ========================================================= */

// Typography
$text-fade-colour:     $grey-tower;


/* ===== OLD =========================================================== */


//TODO:                REFACTOR & REMOVE!


$blue-congress-blue:   #004f8c;
$blue-lochmara:        #007BD8;

$green-finlandia:      #5F6B5F;

$light_grey:           $grey-alto;
$blue_action:          $blue-endeavoura;
$blue_action_darker:   $blue-congress-blue;
$blue_action_lighter:  $blue-lochmara;

// ========================



// ==============================
		// COLOR TESTING
		// [ROOT]/test
// ==============================
@mixin theme($name, $color) {
  $primary: $color;

  .#{$name} {
    &.test-block {
      background-color: $primary;
      span {
      	background-color: #fff;
      	color: #000;
      	padding: 0.51em;

      	&:before {content: '#{$name}';}
      }
    }

  }
}
$themes: (
grey-gallery: #EEE, //old
grey-alto: #DDD, //old
grey-silver: #CCC, //old
grey-silver-chalice: #bfbfbf, //new

grey-mercury: #e8e8e8, //new
grey-dusty-gray: #999, //new
grey-stack: #808080, //new


grey-mako: #475153,
grey-mine-shaft: #333, //new
green-fern: #63B960,
blue-curious: #1483EB,
blue-picton: #3C90E6,
grey-tower: #A7BBC1 //new
) !default;



@each $theme, $color in $themes {
  @include theme($theme, $color);
}

.test-block {
	@include size( 200px );
	@include span-columns (1);
	@include omega();
}

// =================================











