/*=============================================================================
=                    GLOBALLY USED VARIABLES AND SETTINGS                     =
==============================================================================*/


/* ===== CONSTANTS ========================================================== */


/** Placement on the Z-axis */

$z-index-max:       9999 !default;
$z-index-top:       10 !default;
$z-index-middle:    5 !default;
$z-index-lower:     1 !default;
$z-index-default:   0 !default;


/** Available weights */

$weight-thin:      200;
$weight-light:     300;
$weight-normal:    400;
$weight-medium:    500; // *DO NOT* use for headings
$weight-semibold:  600;
$weight-bold:      700; // *DO NOT* use for headings
$weight-extrabold: 800;





/* ===== DEFAULTS =========================================================== */


// How much bigger should our default UI be compared to the browser's default (~16px)
$base-layout-ratio:     1.125;

// Layout & Grid
$base-width:            80rem;

// % of left column's width in 2-column layout
$two-col-layout-left-ratio:  .65 !default;
// % of right column's width 2-column layout
$two-col-layout-right-ratio: ( 1 - $two-col-layout-left-ratio ) !default;


// Typography
$base-font-size:    $base-layout-ratio * 1rem !default;
$base-font-colour:  $black-tundora !default;
$base-line-height:  1.6 !default;
$base-font-family:  'Helvetica Neue', 'Segoe WP', 'Nimbus Sans L', 'Helvetica', 'Arial' !default;
$base-spacing:      $base-line-height * 1em !default;


// Positioning
$base-z-index:      $z-index-default !default;


// Colours
$base-bg-colour:    $white !default;


// Borders & Lines
$base-border-radius:    3px !default;
$base-border-width:     1px !default;
$base-border-colour:    $grey-gallery !default;

$base-border:   $base-border-width solid $grey-dusty !default;


// Box model
$base-margin:   1.5rem !default;
$base-padding:  2rem !default;


// Accessiblity outlining
$base-outline:  2px solid $blue-accessibility;


// Animations
$base-transition-duration: .5s !default;
$base-transition-function: ease !default;
$base-transition: all $base-transition-duration $base-transition-function !default;





/* ===== SPECIFIC =========================================================== */


// Typography
$caption-font-family:   '#{$font-victoria}' !default;
$caption-colour:        $grey-mako;
$caption-line-height:   1.25;

$link-colour:           $blue-endeavoura;
$link-hover-colour:     $blue-curious;

$text-fade-colour:      $blue-grey-tower; // What is this used for?


// Layout & Grid
$block-highlight-colour: $grey-gallery;
$block-highlight-border: $grey-alto;

$two-btn-layout:  .5 !default;


// Borders & Lines
$delim-border-colour:           $grey-gallery;
$delim-highlight-bg-colour:     $grey-alto;
$delim-border:                  $base-border-width solid $delim-border-colour;
$darker-border-colour:          $grey-silver;

// Forms
$text-input-border: 2px solid $grey-silver !default;
