/*==============================
=            TRUMPS            =
==============================*/

// Overrides and definitions with highest specificity.
// (*CAN* contain !important, *SHOULD* affect only one part of the DOM at a time.


@import 'trumps.new-navigation.scss';
@import 'trumps.site-header.scss';
@import 'trumps.layout.scss';
@import 'trumps.plugins.scss';
