

    /* ===== ANGULAR SPECIFIC =============================================== */

    /* Allows angular.js to be loaded in body, hiding cloaked elements until templates compile.  The !important is important given that there may be other selectors that are more specific or come later and might alter display. */
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
        display: none !important;
    }

    /** Hides elements that are used for accessibility reasons *ONLY* */
    .aria-only { display: none; }


    /** 'Browser happy' message */
    .browsehappy {
        padding: .5em;
        text-align: center;
        background-color: #FCF8E3;
        color: #705602;
    }
