

    /* ===== PLUGIN SPECIFIC =============================================== */


    /** Select2 custom selector:  https://github.com/select2/select2 */
    .select2 {
        .fees & { width: auto !important; }
    }

    //.select2-container {}
    .select2-selection__arrow {
        top: 50% !important;
        margin-top: -13px; // 1/2 of the selection__arrow's height
    }

    .detail-overview {
        .select2-container {
            position: relative; top: -.1em;
            margin-left: .3em;
            margin-right: .05em;
            font-weight: $weight-bold;
        }
    }

    .select2-container { margin-right: .15em; }

    .form__select + .select2 {
        font-weight: $weight-bold;

        .select2-selection--single {
            padding: .25em;
            height: auto;
        }
    }

    .select2-container--open { z-index: #{$z-index-max}9; }
