/*=============================================
=                 SITE HEADER                 =
=============================================*/


/** TODO: Discontinue (deprecate) or refactor completely by moving into _components.navigation.scss  */


$logo-mobile-width: 12rem;
$logo-tablet-height: 5.7rem;


.print-only { display: none; }
.header-wrapper { overflow: hidden; } // IE11 inflated header fix

.site-header {
    position: relative;
    background-color: $black-victoria;
    border-bottom: 6px solid $green-light-victoria;

    @include breakpoint ($tablet-and-bigger) {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    @include breakpoint( $mobile-large-and-smaller ) {
        .centraliser, .main-nav {
            display: flex;
            flex-direction: column;
        }

        .search-bar {
            margin-bottom: 1.5em;
            order: 10;
        }

        .main-nav > ul { order: 90; }

        .secondary-nav {
            text-align: center;
            padding: 0 1rem 1.5rem;
            order: 100;

            li {
                font-size: 110%;
                display: inline-block;

                > a {
                    display: inline-block;
                    margin: .2em .5em;
                    text-decoration: underline;
                }
            }
        }
    }


    a { color: $white; }

    // Logo container
    .logo {
        display: block;

        > a {
            @include hoverify() { opacity: .7; }
        }

        img { width: 100%; }

        @include breakpoint( $tablet-and-bigger ) {
            float: left;
            padding: .25em 2em 0 .5em;
            @include size( 25% auto );
            text-align: center;
        }

        @include breakpoint( $tablet ) {
            padding-right: 1.8em;
            width: auto;

            img { height: $logo-tablet-height; }
        }

        @include breakpoint( $desktop ) {
            padding-right: 1.7em;
            margin-bottom: .25em;
        }

        @include breakpoint( $mobile-large-and-smaller ) {
            margin: 0 .75em;
            padding: 1.5em 0 1em;
            width: $logo-mobile-width;
        }
    }

    .main-nav {
        padding: 1em;
        max-height: 1000px;
        transition: all .7s ease;

        @include breakpoint ($mobile-large-and-bigger) {
            padding: 2em;
        }

        @include breakpoint ($tablet-and-bigger) {
            padding: 0;

            ul li { margin: 0 .75em .325rem; }
        }


        @include breakpoint( $mobile-large-and-smaller ) {
            ul {
                margin-bottom: .75rem;
                background: $black-tundora;
                font-size: 110%;

                li:not(:last-child) { border-bottom: 2px solid $grey-stack; }
            }
        }


        &.ng-hide {
            @include breakpoint ($mobile-large-and-smaller) {
                max-height: 0;
                opacity: 0;
                padding: 0;
            }
        }
        &.ng-hide:not(.ng-hide-animate) {
            @include breakpoint ($tablet-and-bigger) {
                display: block !important;
            }
        }

        ul {
            overflow: hidden;

            li {
                width: 100%;
                position: relative;
                box-sizing: border-box;

                @include breakpoint ($tablet-and-bigger) {
                    display: block;
                    width: auto;
                    float: left;
                }

                &:nth-child(2) {
                    a {
                        border-top: 0;
                        border-radius: 3px 3px 0 0;
                        @include breakpoint ($tablet-and-bigger) {
                            border-radius: 0;
                        }
                    }
                }

                &:nth-child(6) {
                    a {
                        border-radius: 0 0 3px 3px;
                        @include breakpoint ($tablet-and-bigger) {
                            border-radius: 0;
                        }
                    }
                }

                a {
                    display: block;
                    font-weight: $weight-medium;
                    text-align: left;
                    padding: .9em 1.5em;
                    transition: all .3s linear;

                    @include breakpoint ($mobile-large-and-smaller) {
                        @include hoverify () {
                            background-color: $grey-stack;
                        }
                    }
                    @include breakpoint ($tablet-and-bigger) {
                        border: 0;
                        padding: 0;

                        @include hoverify () {
                            color: $grey-dusty;
                        }
                    }
                }
            }
            .search-btn {
                float: right;
                display: none;

                @include breakpoint ( $tablet-and-bigger ) {
                    display: block;
                }
            }
        }

        .search-bar {
            @include breakpoint ($tablet-and-bigger) {
                clear: both;
                display: block;
                width: 100%;
                padding: 1em 0;
                max-height: 160px;
                transition: all .2s ease;
                opacity: 1;

                &.ng-hide {
                    transition: all .7s ease;
                    max-height: 0;
                    opacity: 0;
                    padding: 0;
                }
            }

            .search-form {
                background-color: $grey-alto;
                padding: .75em;
                border-radius: $base-border-radius;
                @include breakpoint ($tablet-and-bigger) {
                    margin-top: 0;
                    margin-right: auto;
                    margin-left: auto;
                    width: 70%;
                    max-height: 160px;
                    transition: all .7s ease;
                    opacity: 1;
                    input[type=text],
                    input[type=search] {
                        width: 79%;
                        margin-bottom: 0;
                        margin-right: 2%;
                        max-height: 160px;
                        transition: all .7s ease;
                        opacity: 1;
                        &.ng-hide {
                            max-height: 0;
                            opacity: 0;
                            padding: 0;
                        }
                    }
                    input.btn {
                        width: 18%;
                        margin: 1px 0;
                    }
                    &.ng-hide {
                        max-height: 0;
                        opacity: 0;
                        padding: 0;
                    }
                }
                input.btn {
                    margin: 0;
                    outline: 0;
                    border: 0;
                    max-height: 40px;
                }
            }
        }
    }

    .secondary-nav {
        @include breakpoint ( $tablet-and-bigger ) {
            margin-bottom: .75em;
            padding-top: .15em;

            display: block !important;

            ul {
                overflow: hidden;
                clear: right;
                line-height: 1;

                li {
                    float: left;
                    margin: 0 .75em;

                    a {
                        font-weight: $weight-medium;
                        // text-transform: uppercase;
                        color: $grey-silver-chalice;
                        font-size: 75%;

                        @include hoverify () { color: $white; }
                    }
                }
            }
        }

        @include breakpoint( $tablet ) {
            ul { margin-bottom: .2em; }
        }
    }
}


/*=============================================
=                 MENU BUTTON                 =
=============================================*/

$button-size: 2.5em;
$menu-button-transition: .3s; // increase this to see the transformations in slow-motion


// Hamburger menu <-> Cross icon made with pure CSS
.lines-button {
    @include breakpoint ($tablet-and-bigger) {
        display: none;
    }

    position: absolute; top: 0; right: 0;
    display: block;
    transition: $menu-button-transition;
    background-color: transparent;
    margin: 1.5em 1em;
    cursor: pointer;

    &:hover {
        opacity: 1;

        .lines {
            background-color: $grey-silver;

            &:before {
                top: $button-size/3.5;
                background-color: $grey-silver;
            }
            &:after {
                top: -$button-size/3.5;
                background-color: $grey-silver;
            }
        }
    }

    &:active { transition: 0; }

    &.x.close .lines {
        background: transparent; // Hide the middle line

        /*overlay the lines by setting both their top values to 0*/
        &:before,
        &:after {
            transform-origin: 50% 50%;
            top: 0;
            width: $button-size;
        }

        // rotate the lines to form the 'x' shape
        &:before { transform: rotate3d(0, 0, 1, 45deg); }
        &:after { transform: rotate3d(0, 0, 1, -45deg); }
    }
}

    // Lines making the icon
    .lines {
        position: relative;

        //create middle line
        &,
        &:before,
        &:after {
            display: inline-block;
            @include size( $button-size $button-size/7 );
            background: $white;
            border-radius: $button-size/14;
            transition: $menu-button-transition;
        }

        /*create the upper and lower lines as pseudo-elements of the middle line*/

        &:before,
        &:after {
            position: absolute;
            left: 0;
            content: "";
            transform-origin: $button-size/14 center;
        }

        &:before { top: $button-size/4; }
        &:after { top: -$button-size/4; }
    }
