/*=====================================
=            FORMS' INPUTS            =
=====================================*/

/* ===== PROPERTIES ========================================================= */

// Standard
$input-height:          38px !default;
$input-border-width:    $base-border-width !default;
$input-border-radius:   0 !default;
$input-border-color:    $grey-mine-shaft !default;

// Active
$input-active-border-color: $blue-endeavoura !default;


/* ===== GLOBAL ============================================================= */

input[ type=text ] {
    min-height: $input-height;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;

    &:focus {
        border-color: $input-active-border-color;
        box-shadow: none;
    }
}

