/*==================================
=            TYPOGRAPHY            =
==================================*/


/* ===== PROPERTIES ========================================================= */

$heading-font-family:   $base-font-family;
$heading-line-height:   $base-line-height;
$heading-margin:        $base-margin;



/* ===== HELPERS ============================================================ */


@function headings( $from:1, $to:6 ) {
    @if $from==$to {
        @return 'h#{$from}';
    }
    @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}


/* ===== GLOBAL ============================================================= */

// Then call it with the rules/styles you want wherever you want (As long as the file/include has access to the above function of course).
#{headings(1,6)} {
    color: $green-victoria;
    font-family: $heading-font-family;
    line-height: $heading-line-height;
    margin: 0 0 $heading-margin;
}

#{headings(2,6)} {
    font-weight: 100;
}

h1 {
    font-size: em(46);
}

h2 {
    font-size: em(26);
}

h3 {
    font-size: em(21);
}

h4 {
    font-size: em(18);
}

h5 {
    font-size: em(16);
    // font-weight: 600;
}
h6 {
    font-size: em(14);
    font-weight: bold;
}

p {
    font-size: $base-font-size;
    margin: 0 0 $heading-margin;
}

a {
    color: $blue-lochmara;
    text-decoration: none;
transition: color $base-duration $base-timing;
    @include hoverify {
        color: $blue-lochmara;
    }
}

hr {
    border-bottom: $base-border-width;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}
