/*=======================================
=            IMPORT OF FONTS            =
=======================================*/


/* ===== IMPORT & DEFINE FONTS ============================================== */

// Victoria's
@include font-face( $font-victoria, "#{$path-font-victoria}-Regular", $weight-normal, $file-formats: eot woff ttf );
@include font-face( $font-victoria, "#{$path-font-victoria}-Semibold", $weight-semibold, $file-formats: eot woff ttf );
@include font-face( $font-victoria, "#{$path-font-victoria}-Extrabold", $weight-extrabold, $file-formats: eot woff ttf );

// Oxygen
@import url( "#{$path-font-oxygen}" );

// Font icons
@include font-face( $font-victoria-icons, "#{$path-fonticon-victoria}", $weight-extrabold, $file-formats: eot woff ttf svg );
