/*======================================================
=            RESETS & STYLES' NORMALISATION            =
======================================================*/


// TODO: Review
// Reset styles from Bitter Lib -

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: {
        family: $base-font-family;
    }
	margin: 0;
    min-height: 2000px;
    overflow-x: hidden;
}


img,
picture {
  margin: 0;
  max-width: 100%;
}


ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $base-margin;
    padding-left: $base-padding;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $base-margin;
    padding-left: $base-padding;
  }
}

dl {
  margin-bottom: $base-margin;

  dt {
    font-weight: bold;
    margin-top: $base-margin;
  }

  dd {
    margin: 0;
  }
}



// From Victori SASS repo _reset.scss file TODO: Review
//  _reset.scss
// -------------------------------------------------------------

// Display in IE6-9 and FF3
// -------------------------

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

// Display block in IE6-9 and FF3
// -------------------------

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

// Prevents modern browsers from displaying 'audio' without controls
// -------------------------

audio:not([controls]) {
    display: none;
}

