/*==================================================
=            VICTORIA MIXINS COLLECTION            =
==================================================*/

// Mixins collection that can be used to simplify SCSS development.
//
// *HIGHLY RECOMMENDED* to read through all available mixins before
// start of active development!

// TODO: Add documentation in forms of comments

/* ===== BOX MODEL ========================================================== */

@mixin objectify( $display: inline-block, $content: "", $position: relative ) {
    position:   $position;
    display:    $display;
    content:    $content,
}


/* ===== TYPOGRAPHY ========================================================= */


@mixin iconify( $display: inline-block, $ico-code: "" ) {
    font-family: $font-victoria-icons;
    @include objectify( $display, $ico-code );
}


/* ===== IMAGES & ICONS ===================================================== */

@mixin hoverify() {
    &:hover,
    &:active,
    &:focus {
        @content;
    }
}


/* ===== POSITIONING ======================================================== */
