// Colors

// Vic Colours
$green_victoria: #115737;
$black_victoria: #1d2624;
$green_victoria_study: #549349;

//TODO: Refactor these to match the naming convention below 
$vic-green: $green_victoria;
$vic-black: $black_victoria;



// Naming colors 
// Read 'Color variable that don't suck'
// https://davidwalsh.name/sass-color-variables-dont-suck
// Color naming tool
// http://chir.ag/projects/name-that-color/#005EA5

// Convention
// ${base_color}_{unique_name_from_tool}


//Simple colors
$white: #ffffff;


//Unique Colors
$blue_endeavoura: #005ea5;
$blue_congress_blue: #004f8c;
$blue_lochmara: #007BD8;



$grey_mine_shaft: #333333;
$grey_dusty_gray: #999999;
$grey_alto: #dddddd;
$grey_mercury: #e6e6e6;


$green_finlandia: #5F6B5F;



//TODO: refactor back to values
$dark_grey: $grey_mine_shaft;
$light_grey: $grey_alto;
$blue_action: $blue_endeavoura;
$blue_action_darker: $blue_congress_blue;
$blue_action_lighter: $blue_lochmara;
