
@font-face {
    font-family: 'National';
    font-weight: 400;
    src: url('/assets/fonts/NationalWebLF-Regular.eot');
    src: url('/assets/fonts/NationalWebLF-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/NationalWebLF-Regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/NationalWebLF-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'National';
    font-weight: 500;
    src: url('/assets/fonts/NationalWebLF-Semibold.eot');
    src: url('/assets/fonts/NationalWebLF-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/NationalWebLF-Semibold.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/NationalWebLF-Semibold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'National';
    font-weight: 600;
    src: url('/assets/fonts/NationalWebLF-Extrabold.eot');
    src: url('/assets/fonts/NationalWebLF-Extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/NationalWebLF-Extrabold.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/NationalWebLF-Extrabold.ttf') format('truetype'); /* Safari, Android, iOS */
}


@font-face
{
    font-family: 'fonticons';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot#iefix') format('embedded-opentype'),
        url('../fonts/fontello.woff') format('woff'),
        url('../fonts/fontello.ttf') format('truetype'),
        url('../fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Font familys
//TODO: mayeb loose the _family ?
$font_heading_family: 'National','Segoe WP Semibold', 'Nimbus Sans L', Arial, 'Helvetica Neue', 'Helvetica', sans-serif; // WP Segoe for Window Phone, Nimbus for Linux
$font_body_family: 'Segoe WP', 'Nimbus Sans L', Arial, 'Helvetica Neue', 'Helvetica', sans-serif; //  WP Segoe for Window Phone, Nimbus for Linux, defaults for everyone else: should be Helv Neue on iOS, Helv on Mac, Arial on Windows
$font_icons: 'fonticons';


//TODO: Refactor these variables back into their values.
$base-font-family: $font_body_family;
$heading-font-family: $font_heading_family;


// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;