/*=============================================
=            CONTENT WRAPPER                  =
=============================================*/


/* Standard content with only basic formatting options. */

.content-simple {
    /* Collections with shared attributes. */
    ul,
    ol,
    p {
        margin-bottom: 1.2em;

        &:last-child { margin: 0; }
    }

    //irwinna - not sure on this being here. Should be in object.lists with more generic class eg; .ul-list 

    // Unordered list with own square bullet
    $list-bullet-size:          .5em;
    $list-bullet-indent-left:   .9em;
    $list-bullet-indent-right:  1.15em;

    ul {
        margin-left: 0;
        padding-left: $list-bullet-indent-left + $list-bullet-indent-right + $list-bullet-size;
        text-indent: -( $list-bullet-indent-right + $list-bullet-size );

        > li {
            margin: .3em 0;
            line-height: $base-line-height;

            @include make-list-square-bullet( $list-bullet-size ) {
                position: relative; top: -0.1em;
                margin-right: $list-bullet-indent-right;
            }


        }
    }
}


/* ===== GENERIC HELPERS ==================================================== */

.centered { text-align: center; }

.smaller {
    font-size: .75em;
    padding-top: .5em;

    a { font-size: 1.2em; }
}


.tooltip-inline,
.tooltip-icon {
    cursor: default;
}

/** Inline hint (~ tooltip). */
$hint-inline-colour:            $base-font-colour;
$hint-inline-underline-colour:  $grey-dusty-gray;
$hint-inline-active-colour:     black;

.tooltip-inline {
    color: $hint-inline-colour;
    border-bottom: 1px dashed $hint-inline-underline-colour;

    @include hoverify() {
        color: $hint-inline-active-colour;
        border-bottom-color: $hint-inline-active-colour;
    };
}

/** Icon for the tooltip. */
.tooltip-icon {
    cursor: pointer;
    margin: 0 .2em;
    vertical-align: middle;
    font-size: 90%;
    color: $grey-stack;
    opacity: .6;

    @include hoverify() { opacity: 1; }
}
