/*==================================================
=            GRID-BASED LAYOUT ELEMENTS            =
==================================================*/

$block-margin:              $base-margin;
$block-mobile-large-margin: $base-margin / 1.25;
$block-mobile-margin:       $base-margin / 1.5;


/* ===== SECTORS ============================================================ */

// To divide page into independent sectors.
.sector,
.sector-container {
    @include clearfix();

    // Adds highlight
    &.highlighted {
        display: block;
        background-color: $block-highlight-colour;
    }

    // Adds line separator to the end of the sector
    &.separated {
        display: block;
        border-bottom: $delim-border;
    }

    // Empty sector, hide it's visibility
    &.blank {
        &.separated { border: none; }
        &.highlighted { background: none; }
    }
}



// The only way to cover horizontal separator of the previous block is to shift
// current block slightly upwards and re-draw it with separator of the
// background colour.
.separated + .separated.no-lines {
    position:   relative; top: -1 * $base-border-width;
    border:     none;
    border-top: $base-border-width solid $base-bg-colour;
}


//.layout-rebase {} // Layout normaliser => Reset previous layouting rules





/* ===== BLOCKS ============================================================= */

// Standard block container
.block {
    display: block;
    padding: $block-margin;
    vertical-align: top; // used when `display: block` is converted into `display: table`

    // 1. Collapse space in all siblings (default)...
    .sector + .sector & { padding-top: 0; }

    // 2. Enable in some cases
    .sector + .sector.highlighted & { padding-top: $block-margin; }

    .sector.highlighted + .sector &,
    .sector.separated + .sector &,
    .sector.blank + .sector & { padding-top: $block-margin; }

    // Resets block's margin
    .sector .layout-rebase & { padding-top: $block-margin; }

    // 1B. ... and all block-containers
    .sector .block-container &:not(:first-child) { padding-top: 0; }
    .block + .block-container &:first-child { padding-top: 0; }
    .block + .block-container.two-col-layout &:last-child { padding-top: 0; }


    // 2) Responsiveness
    @include media( $mobile ) {
        padding-left: $block-mobile-margin;
        padding-right: $block-mobile-margin;
    }

    @include media( $mobile-large ) {
        padding-left: $block-mobile-large-margin;
        padding-right: $block-mobile-large-margin;
    }

    &.no-bg { background: inherit; } // Eliminates background
}


// Makes content aligned to the center if the width of the
// viewport surpasses $base-width.
.centraliser {
    @include outer-container();
}

.short-col-wide {
    @include media( $desktop-large ) {
        @include span-columns( 12 )
    }
}

/* Two-column grid layout. */
.sector .two-col-layout {

    // Outter container
    &.block-container {
        @include make-table-grid();
    }

    // Column; makes two cols - 65% and 35% width
    .block {
        // Right column
        &:last-child { padding-top: 0; }

        &.btns-holder {
            text-align: center;
            vertical-align: middle;

            ul, ol { text-align: left; }
        }

        @include media( $desktop-and-bigger ) {

            // Left column
            &:first-child {
                @include make-table-column( $two-col-layout-left-ratio);
            }

            // Right column
            &:last-child {
                @include make-table-column( $two-col-layout-right-ratio);
                padding-top: $block-margin;
            }

            &.btns-holder {
                text-align: right;
                @include make-table-column( $two-col-layout-right-ratio);
            }
        }
    }

    &.swap-columns {

        // Swap column blocks - 35% left and 65% right
        .block {
            @include media( $desktop-and-bigger ) {

                // Left column
                &:first-child {
                    @include make-table-column( $two-col-layout-right-ratio );
                }

                // Right column
                &:last-child {
                    @include make-table-column( $two-col-layout-left-ratio );
                }
            }
        }
    }

    // Adds line separators to divide blocks
    &.separated {
        .block {

            // Right column
            &:last-child {
                padding-top: $block-margin;
                border-left: none;
                border-top: $delim-border;
            }

            @include media( $desktop-and-bigger) {
                &:last-child {
                    border-left: $delim-border;
                    border-top: none;
                }
            }
        }
    }
}





/* ===== SUB-BLOCKS ========================================================= */


/**
* A block with children that are placed next to each other
* into flexible columns.
*/
.flexi-columns {
    display: flex;
    flex-wrap: nowrap;

    //.column{}

    @include media( $mobile-large-and-smaller ) {
        display: block;
    }
}


/**
* Grid with blocks that can flexibly stretched and
* floated based on their content dynamic.
*/
.flexi-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

    .flexi-block {
        width: auto;
        margin-bottom: 1em;
        padding-right: 8%;

        &:last-child { margin-bottom: 0; }

        &.stretch {
            width: 100%;
            padding-right: 0;
        }
    }
