
/* ===== FORMS ============================================================== */

/** Basic form */
/* @deprecated TODO: REFACTOR! */
.form {

    .form__group { margin-bottom: 1em; }

    .form__select {
        height: 2.3em;
        display: inline-block;
        max-width: 100%;
        min-width: 50%;
        color: #146999;
        font-weight: $weight-bold;
        border: 2px solid #DDD;
        margin-right: .3em;
    }

    .btn { margin-top: 0; margin-bottom: 0; }
}




/** Generic data forms. */

$form-label-width: 28%;
$form-background: #F0F0F0;
$form-group-gap: $base-spacing / 2;


.form-container {
    &.block {
        // Only if the form has got a background
        padding-top: 0 !important;

        &:not(:last-child) { padding-bottom: 0; }
    }
}


.form {
    .form-container & {
        background-color: $form-background;
        padding: $base-spacing;
    }

    .note {
        max-width: 50rem;
        font-size: 90%;
        margin: 1.5em 0 0;
    }

    .tooltip-icon {
        font-weight: $weight-normal;
        font-size: 110%;
        line-height: 0;
        white-space: nowrap;

        &:after {
            @include iconify( inline, '\e813' ); // '?' icon
        }
    }

    label { padding: $base-spacing / 3 0; }

    fieldset {
        border: 1px solid $grey-silver;
        padding: $base-spacing / 2 $base-spacing;
        margin-bottom: $base-spacing;
        border-radius: 5px;
    }

    legend {
        color: $grey-dusty;
        padding: 0 1rem;
    }

    // Groups two or more form elements
    .group {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $base-spacing / 2;

        > textarea { height: auto; }
        > select { height: 2.4rem; }

        > label {
            width: 100%;
            font-weight: $weight-bold;
            padding-right: .75rem;
            line-height: 1.3;
        }

        .group {
            align-items: center;
            flex-wrap: nowrap;
            display: flex;
            margin-bottom: 0;
        }
    }

    .field {
        flex-grow: 1;
        margin: 0;

        &.mktoInvalid { border-color: $red-roof-teraccota; }
    }

    .field-value {
        padding: $base-spacing / 3 0;
        margin-left: 1rem;
        order: 10;
    }

    // Radio selectors
    .group-radio,
    .group-checkbox {
        > input[type=radio],
        > input[type=checkbox] {
            width: auto; // IE counterpart of 'initial'
            width: initial;
            flex: auto; // Makes the elements keep standard width
            flex-grow: 0; // Stop from growing in width
            margin: auto 0;
            height: 1em;
            vertical-align: middle;
        }

        > label { margin: 0 $base-spacing 0 .35rem; }
    }

    .text-error {
        order: 10;
        margin-top: $base-spacing / 3;
        width: 100 - $form-label-width;
        color: $red-roof-teraccota;
    }

    .text-hint { margin: 1rem 0; }
    .btn { margin: $base-spacing 0 0; }


    @include breakpoint( $mobile-large-and-bigger ) {

        .group {
            align-items: flex-start;

            > label {
                width: $form-label-width;
            }

            > input,
            > select { max-width: 20rem; }

            > textarea {
                max-width: 30rem;
                height: auto;
            }

            .group { flex: 1 1 auto; }
        }

        .group-radio,
        .group-checkbox {
            display: flex;
            flex-wrap: wrap;
            max-width: 100% - $form-label-width;
        }

        .text-error {
            margin-left: $form-label-width;
        }

        .text-hint {
            max-width: calc( #{$form-label-width} + 30rem );
        }

        .field { flex: 1 1; }
    }
}




//TODO: Move to widgets >>
$toggle-height:          1.6em;
$toggle-width:           3.9em;
$toggle-handle-size:     1.6em;
$toggle-padding:         .12em;
$toggle-active-colour:   lighten( $green-light-victoria, 10% );
$toggle-inactive-colour: #BBB;
$toggle-bg-colour:       #1d2624;

.group-toggle {

    .toggle-desc {
        vertical-align: middle;
        margin-right: 5px;
        font-weight: $weight-normal;
        font-size: 90%;
    }

    input[type=checkbox]{
        visibility: hidden;
        position: absolute; margin-left: -9999px;

        & + label {
            text-align: right;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding: $toggle-padding;
            width: $toggle-width;
            height: $toggle-height;
            color: $toggle-inactive-colour;
            cursor: pointer;
            outline: none;
            border-radius: $toggle-handle-size;
            transition: background 0.4s;

            &:before, &:after {
                display: block;
                position: absolute;
                content: "";
            }

            &:before {
                top: 0; left: 0; bottom: 0; right: 0;
                background-color: rgba( $toggle-bg-colour, .8 );
                border-radius: $toggle-height;
                transition: background .4s;
            }

            &:after {
                top: $toggle-padding * 2; left: $toggle-padding * 2; bottom: $toggle-padding * 2;
                width: $toggle-handle-size - ( $toggle-padding * 4 );
                background-color: $toggle-inactive-colour;
                border-radius: $toggle-handle-size - ( $toggle-padding * 2 );
                transition: margin .4s, background .4s;
            }

            > span {
                margin: 0 .2em;
                z-index: $z-index-lower;
                position: relative; top: -.1em;
                padding: 0 .3em;
                font-size: 85%;

                &:after { content: "OFF"; }
            }

            @include hoverify() {

                &:before {
                    background-color: rgba( $toggle-bg-colour, .93 );
                }

                &:after { background-color: #FFF; }
            };
        }

        &:checked + label {
            text-align: left;

            &:before {
                background-color: $toggle-bg-colour;
            }

            &:after {
                margin-left: $toggle-width - $toggle-handle-size;
                background-color: $toggle-active-colour;
            }

            > span {
                color: $toggle-active-colour;
                font-size: 90%;
                font-weight: $weight-semibold;

                &:after{ content: "ON"; }
            }
        }
    }
}

/** Wrapper around 2 (or more) elements that must be visually grouped together. */
/* @deprecated TODO: REFACTOR! */
.control-group { white-space: nowrap; }
