/*=============================
=            ICONS            =
=============================*/

/* Creates icon class and assigns icon's code. */
@mixin define-icon( $tag-name, $ico-code, $placement:'before' ) {
    &.#{$tag-name}:#{$placement} {
        content: $ico-code;
        @content;
    }
}

/** Loading spinner animation */
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}


$ico-caret-width:  .7em;
$ico-caret-height: .35em;
$ico-margin:       .9em;


/* ===== FONT ICON'S CODES ================================================== */


$ico-code-study-cap-thin:  '\e807';
$ico-code-bubble-thin:     '\e80c';

$ico-code-arr-right:       '\e809';
$ico-code-arr-left:        '\e80b';
$ico-code-arr-down:        '\e80d';
$ico-code-arr-up:          '\e80e';

$ico-code-arr-short-down:  '\e80f';
$ico-code-arr-short-left:  '\e810';
$ico-code-arr-short-right: '\e811';
$ico-code-arr-short-up:    '\e812';

$ico-code-help:            '\e813';
$ico-code-quote-start:     '\e814';
$ico-code-quote-end:       '\e815';
$ico-code-phone:           '\e817';
$ico-code-mail:            '\e818';
$ico-code-clock:           '\e806';
$ico-clock-back:           '\e816';

$ico-code-star:            '\e800';
$ico-code-hourglass:       '\e801';
$ico-code-info:            '\e803';
$ico-code-book:            '\e804';
$ico-code-cancel:          '\e805';
$ico-code-ext-link:        '\e81a';
$ico-code-ok:              '\e81b';
$ico-code-youtube-play:    '\e81c';

$ico-code-spin:            '\e81d';
$ico-code-search:          '\e81e';
$ico-code-person:          '\e81f';
$ico-code-list:            '\e808';

$ico-code-location:        '\e820';
$ico-code-tick:            '\e821';
$ico-code-calendar:        '\e822';
$ico-code-flag:            '\e823';

$ico-code-warning:         '\e824';
$ico-code-gauge:           '\e825';
$ico-code-group:           '\e826';

$ico-code-globe:           '\e827';
$ico-code-money:           '\e828';
$ico-code-exchange:        '\e829';





/* ===== ENTITY CODES ======================================================= */


$code-triangle-right:   '\25b8';
$code-triangle-down:    '\25be';
$code-arrow-expand-down:'\2304';





/* ===== ICONS DEFINITIONS ================================================== */


.ico {
    font-weight: normal;

    &:before {
        @include iconify();
    }

    /* Font icons */

    // Thin icons (menus | headers)
    @include define-icon( list, $ico-code-list );
    @include define-icon( talk-bubble, $ico-code-bubble-thin );
    @include define-icon( study-cap, $ico-code-study-cap-thin ) {
        position: relative; top: 2px;
    };

    // Standard icons (general usage, eg. buttons, links, headers, one liners)
    @include define-icon( email, $ico-code-mail );
    @include define-icon( phone, $ico-code-phone );

    // Default tooltip
    @include define-icon( tooltip-icon, $ico-code-help );

        // Tooltips variations
        &.tooltip-icon.warn:before { content: $ico-code-warning; }


    @include define-icon( clock, $ico-code-clock );
    @include define-icon( clock-back, $ico-clock-back );

    @include define-icon( quote-start, $ico-code-quote-start );
    @include define-icon( quote-end, $ico-code-quote-end );

    @include define-icon( arr-right, $ico-code-arr-right );
    @include define-icon( arr-left, $ico-code-arr-left );
    @include define-icon( arr-up, $ico-code-arr-up );
    @include define-icon( arr-down, $ico-code-arr-down );

    @include define-icon( arr-short-left, $ico-code-arr-short-left );
    @include define-icon( arr-short-down, $ico-code-arr-short-down );
    @include define-icon( arr-short-right, $ico-code-arr-short-right );
    @include define-icon( arr-short-up, $ico-code-arr-short-up );

    @include define-icon( star, $ico-code-star );
    @include define-icon( hourglass, $ico-code-hourglass );
    @include define-icon( info, $ico-code-info );
    @include define-icon( book, $ico-code-book );
    @include define-icon( cancel, $ico-code-cancel );
    @include define-icon( ext-link, $ico-code-ext-link );
    @include define-icon( ok, $ico-code-ok );
    @include define-icon( youtube-play, $ico-code-youtube-play );

    @include define-icon( spin, $ico-code-spin ){
        display: inline-block;
        animation: spin 2s infinite linear;
    };
    @include define-icon( search, $ico-code-search );
    @include define-icon( person, $ico-code-person );

    @include define-icon( location, $ico-code-location );
    @include define-icon( tick, $ico-code-tick );
    @include define-icon( calendar, $ico-code-calendar );
    @include define-icon( flag, $ico-code-flag );

    @include define-icon( globe, $ico-code-globe );
    @include define-icon( money, $ico-code-money );
    @include define-icon( exchange, $ico-code-exchange );

    @include define-icon( warning-triangle, $ico-code-warning );
    @include define-icon( gauge, $ico-code-gauge );
    @include define-icon( group, $ico-code-group );


    /* CSS only icons. */

    // Text-based triangle
    @include define-icon( triangle, $code-triangle-right ) {
        transition: none;
        display: inline;

        .expanded & {
            content: $code-triangle-down
        }
    }

    // Border-based triangle
    &.caret:before {
        @include triangle(
            $ico-caret-width $ico-caret-height,
            $base-font-colour,
            right
        );
    }
}

/** Link outside of the site with `ico ext-link`. */
.link--external {
    &:after {
        @include iconify( inline, $ico-code-ext-link );
        text-decoration: none; // IE11+ fix to remove underline from icons
        margin-left: .35em;
    }
}
