/*=====================================
=      STANDALONE UI WIDGETS          =
=====================================*/

$vic-large-logo-width: 480px;

.logo.large {
    width: $vic-large-logo-width;

    @include media( $desktop-and-smaller ) {
        width: $vic-large-logo-width * 0.8;
    }

    @include media( $mobile-large-and-smaller ) {
        width: $vic-large-logo-width * 0.7;
    }

    @include media( $mobile ) {
        width: 95%;
        max-width: $vic-large-logo-width * 0.6;
    }
}

.overlaid { overflow: hidden; }


/* Cards-like tiles. */
$tile-padding: 1.5em;
$tile-bg:      #f0f0f0;

.tiles {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.tile {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid; /* Firefox is dumb */
    break-inside: avoid;
    // Desktop-view ONLY
    display: inline-block;
    margin-bottom: 1.2em;
    background: $tile-bg;
    vertical-align: top;
    width: 100%;

    .title { line-height: 1.2; }

    .tag {
        display: inline-block;
        padding: .15em .6em;
        border-radius: .2em;
        background-color: $green-victoria;
        color: $white;
        white-space: nowrap;
    }

    .btn-holder {
        margin: .5em 0;
        text-align: center;
    }

    .code {
        display: block;
        float: right;
        margin: .2em 0 .2em .5em;
        line-height: 1;
        font-size: 90%;
        font-weight: $weight-normal;
        color: $grey-dusty-gray;
    }

    &:nth-child(odd){
        margin-left: 0;
    }

    &:nth-child(even){
        margin-right: 0;
    }
}

.tile__header { margin: $tile-padding; }

.tile__list {
    margin: 0 $tile-padding 1em $tile-padding;

    > li {
        margin-bottom: .3em;

        > .ico:before {
            color: #666;
            width: 1em;
            margin-right: .1em;
        }
    }

    .label {
        margin-right: .5em;
        color: #666;
        font-weight: $weight-semibold;
        font-size: 90%;
    }

    .tag { font-size: 90%; }
    .tooltip-icon { vertical-align: initial; }

    &.grid {
        margin: 1.5em 1em;
        text-align: center;

        > li {
            vertical-align: top;
            display: inline-block;
            width: 32%;        }

        .label, .value, .note {
            display: block;
            line-height: 1.15;
        }

        .label{
            margin-bottom: .5em;
            margin-right: 0;
        }

        .note { font-size: 80%; }

        .value {
            font-size: 120%;
            margin-bottom: .2em;
        }

        /** Content-based breakpoints. */
        @media screen and ( max-width: em( 400px, $em-browser-default ) ) {
            > li {
                width: 100%;
                margin-bottom: .7em;
            }
        }
    }
}

/** Tiles' responsivity */
@include media ( $tablet-and-smaller ) {
    .tiles {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
    .tile {

        &:nth-child(odd),
        &:nth-child(even) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@include media ( $mobile-large-and-smaller ) {
    .tile__header {
        margin: 1em;
    }

    .tile__list {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@include media ( $mobile ) {
    .tile__header .code {
        float: none;
        display: inline-block;
        margin: 0 .3em 0 0;
    }

    .tile__list {
        .value { display: block; }
    }
}


/** Collapsible/Expandable block. */

$collapsible-transparency-height: 2.5em;

.collapsible-wrapper {

    .collapsible__control {
        position: relative;
        display: block;
        margin: 1em 0;
        text-align: center;


        > a { padding: .5em; }
    }

    .collapsed {}

    // Adds semi-transparent overlay to see part of the collapsed block
    &.collapsed .semitransparent + .collapsible__control {
        &:before {
            position: absolute;
            top: -$collapsible-transparency-height;
            display: block;
            @include size( 100% $collapsible-transparency-height );
            background: linear-gradient( transparent 0%, white 100% );
            content: "";
        }
    }
}

.collapsible {
    display: block;
    height: auto;
    overflow: hidden;

    // Default state
    .collapsed > & {
        .collapsible__control {
            //@include linear-gradient( rgba($tile-bg, 0) 0%, $tile-bg 25%, $tile-bg 100%);
        }
    }

    .expanded > & {
    }
}
