/*=============================
=            ICONS            =
=============================*/

/* Creates icon class and assigns icon's code. */
@mixin define-icon( $tag-name, $ico-code, $placement:'before' ) {
    &.#{$tag-name}:#{$placement} {
        content: $ico-code;
        @content;
    }
}


$ico-caret-width:  .7em;
$ico-caret-height: .35em;
$ico-margin:       .9em;





/* ===== FONT ICON'S CODES ================================================== */


$ico-code-study-cap-thin:  '\E007';
$ico-code-bubble-thin:     '\E00C';

$ico-code-arr-right:       '\E00B';
$ico-code-arr-left:        '\E009';
$ico-code-arr-down:        '\E00E';
$ico-code-arr-up:          '\E00D';

$ico-code-arr-short-down:  '\E042';
$ico-code-arr-short-left:  '\E041';
$ico-code-arr-short-right: '\E040';
$ico-code-arr-short-up:    '\E03F';

$ico-code-help:            '\E00F';
$ico-code-quote-start:     '\E010';
$ico-code-quote-end:       '\E011';
$ico-code-phone:           '\E013';
$ico-code-mail:            '\E014';
$ico-code-clock:           '\E006';
$ico-clock-back:           '\E012';

$ico-code-star:            '\E000';
$ico-code-hourglass:       '\E001';
$ico-code-info:            '\E003';
$ico-code-book:            '\E004';
$ico-code-cancel:          '\E005';
$ico-code-ext-link:        '\E016';
$ico-code-ok:              '\E017';
$ico-code-youtube-play:    '\E018';

$ico-code-spin:            '\E019';
$ico-code-search:          '\E002';
$ico-code-person:          '\E01B';
$ico-code-list:            '\E008';

$ico-code-location:        '\E01C';
$ico-code-tick:            '\E01D';
$ico-code-calendar:        '\E01E';
$ico-code-flag:            '\E01F';

$ico-code-warning:         '\E020';
$ico-code-gauge:           '\E021';
$ico-code-group:           '\E022';

$ico-code-globe:           '\E023';
$ico-code-money:           '\E024';
$ico-code-exchange:        '\E025';
$ico-code-world:           '\E00A';
$ico-code-vcard:           '\E015';
$ico-code-house:           '\E01A';





/* ===== ENTITY CODES ======================================================= */


$code-triangle-right:   '\25b8';
$code-triangle-down:    '\25be';





/* ===== ICONS DEFINITIONS ================================================== */


.ico {
    font-weight: normal;

    &:before {
        @include iconify();
        position: relative;
        top: 3px;
    }

    /* Font icons */

    // Thin icons (menus | headers)
    @include define-icon( list, $ico-code-list );
    @include define-icon( talk-bubble, $ico-code-bubble-thin );
    @include define-icon( study-cap, $ico-code-study-cap-thin ) {
        position: relative; top: 2px;
    };

    // Standard icons (general usage, eg. buttons, links, headers, one liners)
    @include define-icon( email, $ico-code-mail );
    @include define-icon( phone, $ico-code-phone );

    // Default tooltip
    @include define-icon( tooltip-icon, $ico-code-help );

        // Tooltips variations
        &.tooltip-icon.warn:before { content: $ico-code-warning; }


    @include define-icon( clock, $ico-code-clock );
    @include define-icon( clock-back, $ico-clock-back );

    @include define-icon( quote-start, $ico-code-quote-start );
    @include define-icon( quote-end, $ico-code-quote-end );

    @include define-icon( arr-right, $ico-code-arr-right );
    @include define-icon( arr-left, $ico-code-arr-left );
    @include define-icon( arr-up, $ico-code-arr-up );
    @include define-icon( arr-down, $ico-code-arr-down );

    @include define-icon( arr-short-left, $ico-code-arr-short-left );
    @include define-icon( arr-short-down, $ico-code-arr-short-down );
    @include define-icon( arr-short-right, $ico-code-arr-short-right );
    @include define-icon( arr-short-up, $ico-code-arr-short-up );

    @include define-icon( star, $ico-code-star );
    @include define-icon( hourglass, $ico-code-hourglass );
    @include define-icon( info, $ico-code-info );
    @include define-icon( book, $ico-code-book );
    @include define-icon( cancel, $ico-code-cancel );
    @include define-icon( ext-link, $ico-code-ext-link );
    @include define-icon( ok, $ico-code-ok );
    @include define-icon( youtube-play, $ico-code-youtube-play );
    @include define-icon( search, $ico-code-search );
    @include define-icon( person, $ico-code-person );

    @include define-icon( location, $ico-code-location );
    @include define-icon( tick, $ico-code-tick );
    @include define-icon( calendar, $ico-code-calendar );
    @include define-icon( flag, $ico-code-flag );

    @include define-icon( globe, $ico-code-globe );
    @include define-icon( money, $ico-code-money );
    @include define-icon( exchange, $ico-code-exchange );

    @include define-icon( warning-triangle, $ico-code-warning );
    @include define-icon( gauge, $ico-code-gauge );
    @include define-icon( group, $ico-code-group );
    @include define-icon( vcard, $ico-code-vcard );
    @include define-icon( world, $ico-code-world );
    @include define-icon( house, $ico-code-house );


    /* CSS only icons. */

    // Text-based triangle
    @include define-icon( triangle, $code-triangle-right ) {
        transition: none;
        display: inline;

        .expanded & {
            content: $code-triangle-down
        }
    }

    // Border-based triangle
    &.caret:before {
        @include triangle(
            $ico-caret-width $ico-caret-height,
            $base-font-colour,
            right
        );
    }
}


/** Link outside of the site with `ico ext-link`. */
.link--external {
    &:after {
        @include iconify( inline, $ico-code-ext-link );
        margin-left: .35em;
        text-decoration: none; // IE11+ fix to remove underline from icons
    }
}
