/*=============================================
=            CONTENT WRAPPER                  =
=============================================*/

/* Standard content with only basic formatting options. */
.content-simple {

    /* Collections with shared attributes. */
    ul,
    ol,
    p {
        //max-width: 45em;
        margin-bottom: 1.2em;

        &:last-child { margin-bottom: 0; }
    }

    // Unordered list with own square bullet
    $list-bullet-indent-left:   .6em;
    $list-bullet-indent-right:  1.5em;

    ul, ol {
        > li {
            margin-bottom: .35em;
            line-height: $base-line-height;

            // Nested sublist
            ul,
            ol {
                &:last-child, & {
                    margin-bottom: .6em;
                    padding-left: 1.85em;
                }
            }
        }
    }

    ul {
        margin-left: 0;
        padding-left: $list-bullet-indent-left + $list-bullet-indent-right;
        text-indent: -1 * $list-bullet-indent-right;
        list-style: none;

        > li {
            @include make-list-square-bullet( $list-bullet-indent-right );

            // Turn the indentation off for some basic elements
            a,
            span,
            div { text-indent: 0; }
        }
    }

    ol {
        list-style: decimal;

        > li {
            margin-left: $base-margin;
            padding-left: $list-bullet-indent-left;
        }
    }

    a:not(.btn) {
        @include hoverify {
            text-decoration: underline;
        }
    }
}


/* ===== GENERIC HELPERS ==================================================== */

.centered { text-align: center; }

.smaller {
    font-size: .75em;
    padding-top: .5em;

    a { font-size: 1.2em; }
}


/** Inline hint (~ tooltip). */

$hint-inline-colour:            $base-font-colour;
$hint-inline-underline-colour:  $grey-dusty;
$hint-inline-active-colour:     black;

$hint-inline-heading-underline-colour: darken( $heading-colour, 20 );


.tooltip-inline {
    cursor: default;
    color: $hint-inline-colour;
    border-bottom: 1px dashed $hint-inline-underline-colour;
    text-decoration: none !important;

    @include hoverify() {
        color: $hint-inline-active-colour;
        border-bottom-color: $hint-inline-active-colour;
    };

    // Hint inside headings
    h2 &,
    h3 &,
    h4 & {
        color: inherit;
        border-color: $heading-colour;

        @include hoverify() {
            color: $hint-inline-heading-underline-colour;
            border-color: $hint-inline-heading-underline-colour;
        }
    }
}


/** Icon for the tooltip. */

.tooltip-icon {
    display: inline;
    cursor: pointer;
    margin: 0 .35em;
    vertical-align: middle;
    font-size: 90%;
    color: $grey-chalice;

    &:before { display: inline; }

    @include hoverify() { color: $grey-stack; }
}


// Generic inline action link of lower importance
.link-action {
    font-size: 90%;
    white-space: nowrap;
}

.link--external { display: inline; }


// Inline block that might be or might not be used inside a dynamic content.
.inliner {
    margin-right: .3em;

    & + .link-action { margin-left: 0; }
}

// Adds short delimiting line AFTER actual item
.item-separated {
    @include after( block ){
        margin: .6em 0;
        @include size( 2em 2px );
        background-color: $grey-alto;
    }
}

// Adds additional space behind a given element, if it is not *last*
//
// Tip: Can be useful if an element needs spacing, but only
//      under certain conditions that cannot be captured through
//      CSS selectors - e.g. if the second element is a link and
//      appending the spacing to the link's element would cause
//      unwanted spacing on line breaks.
.append-space:not(:last-child) {
    @include after() {
        margin-right: .5em;
    }
}
