/*=====================================
=            GENERAL LISTS            =
=====================================*/



/* ===== GRID LIST ========================================================== */

/* List in the form of a table-like grid. */
$grid-list-border:          1px solid $darker-border-colour;
$grid-list-items-per-row:   3;

.grid-list {
    position: relative;
    @include clearfix();
    margin: 0;
    width: 100%;

    // Item / Cell
    > li {
        // Desktop (~ 3 column)
        float: left;
        display: block;

        @include media( $desktop-and-bigger ) {
            width: 100% / $grid-list-items-per-row;
            &:nth-child(3n+1) { clear: left; }

            &:nth-child(3n+0) > * { padding-right: 0 }  // Disable padding on the edges
            &:nth-child(3n-2) > * { padding-left: 0 }   // Disable padding on the edges
        }

        // Tablet (~ 2 column)
        @include media( $tablet ) {
            width: 100% / ( $grid-list-items-per-row - 1 );
            &:nth-child(2n+1) { clear: left; }

            &:nth-child(2n+0) > *{ padding-right: 0; }  // Disable padding on the edges
            &:nth-child(2n-1) > *{ padding-left: 0; }   // Disable padding on the edges
        }

        // Mobile (~ 1 column)
        @include media( $mobile-large-and-smaller ) {
            width: 100%;
            clear: left;

            > * {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

