/*=======================================
=            BUTTONS & LINKS            =
=======================================*/


/* ===== BUTTONS ============================================================ */

$btn-bg:           $blue-azure !default;
$btn-hover-bg:     $blue-st-tropaz;

$sec-bg:           $grey-alto;
$sec-hover-bg:     $grey-silver;

$btn-corners:      2px !default;
$btn-label-colour: $white !default;

$ico-margin:       .9em;


.btn {
    display: inline-block;
    padding: .6em 1.1em;
    margin: 1em;
    line-height: 1.2;
    border-radius: $btn-corners;
    background-color: $btn-bg;
    font-family: $caption-font-family;
    //font-size: 100%;
    font-weight: $weight-semibold;
    text-decoration: none;
    color: $btn-label-colour;
    transition-property: background-color; // Prevents flickering of button's text colour on load

    @include hoverify() {
        background-color: $btn-hover-bg;
        color: $btn-label-colour;
    }

    // Sizing (normal size by default)
    &.large { font-size: 115%; border-radius: 4px; }
    &.small { font-size: 60%; }

    // Standard icon styles
    .ico {
        margin-left: $ico-margin;
        line-height: 0;
        vertical-align: middle;
        display: inline;
        transition: none;

        &:before { display: inline; }

        // Positioning (right position by default)
        &.left {
            margin-left: 0;
            margin-right: $ico-margin;
        }
    }

    &.secondary {
        padding: .6em 1em;
        line-height: 1;
        background-color: $sec-bg;
        color: $grey-mako;

        @include hoverify() { background-color: $sec-hover-bg; }
    }

    &.disabled {
        background-color: $grey-silver-chalice;
        cursor: no-drop;
    }

    &.inverted {
        box-shadow: inset 0 0 0 2px $blue-azure;
        background: transparent;
        color: $blue-azure;

        @include hoverify() {
            color: white;
            background-color: $blue-st-tropaz;
            box-shadow: inset 0 0 0 2px $blue-st-tropaz;
        }
    }

    // Sub-label
    > small {
        display: block;
        text-align: left;
        font-size: 85%;
        font-weight: $weight-light;
        color: $grey-alto;
    }
}



/* ===== LINKS ============================================================== */

// .link {}


