/*==================================================
=            GRID-BASED LAYOUT ELEMENTS            =
==================================================*/

$block-margin: $base-margin;

/* ===== SECTORS ============================================================ */

// To divide page into independent sectors.
.sector, .sector-container {
    @include clearfix();

    // Adds highlight
    &.highlighted {
        background-color: $block-highlight-colour; // TODO: Deprecated!
    }

    // Adds line separator to the end of the sector
    &.separated {
        border-bottom: $delim-border; // TODO: Deprecated!
    }
}

    // Adds highlight
    .sector--highlight {
        display: block;
        background-color: $block-highlight-colour;
    }

    // Separates sector with a line
    .sector--separated {
        display: block;
        border-bottom: $delim-border;
    }



.layout-rebase {} // Layout normaliser => Reset previous layouting rules



/* ===== BLOCKS ============================================================= */

// Standard block container
.block {
    display: block;
    vertical-align: top;
    padding: $block-margin;

    // 1. Collapse space in all siblings (default)
    .sector + .sector & { padding-top: 0; }

    // 2. Enable in some cases
    .sector + .sector.sector--highlight & { padding-top: $block-margin; }
    .sector--highlight + .sector &,
    .sector.separated + .sector & { padding-top: $block-margin; }

    // Reset
    .sector .layout-rebase & { padding-top: $block-margin; }
}


// Makes content aligned to the center if the width of the
// viewport surpasses $base-width.
.centraliser {
    @include outer-container();
}

.short-col-wide {
    @include media( $desktop-large ) {
        @include span-columns(12)
    }
}

/* Two-column grid layout. */
.sector .two-col-layout {

    // Outter container
    &.block-container {
        @include make-table-grid();
    }

    // Column; makes two cols - 65% and 35% width
    .block {
        // Right column
        &:last-child { padding-top: 0; }

        &.btns-holder {
            text-align: center;
            vertical-align: middle;
        }

        @include media( $desktop-and-bigger) {

            // Left column
            &:first-child {
                @include make-table-column( $two-col-layout-left-ratio);
            }

            // Right column
            &:last-child {
                @include make-table-column( $two-col-layout-right-ratio);
                padding-top: $block-margin;
            }

            &.btns-holder {
                text-align: right;
                @include make-table-column( $two-col-layout-right-ratio);
            }
        }
    }

    &.swap-columns {

        // Swap column blocks - 35% left and 65% right
        .block {
            @include media( $desktop-and-bigger) {

                // Left column
                &:first-child {
                    @include make-table-column( $two-col-layout-right-ratio );
                }

                // Right column
                &:last-child {
                    @include make-table-column( $two-col-layout-left-ratio );
                }
            }
        }
    }

    // Adds line separators to divide blocks
    &.separated {
        .block {

            // Right column
            &:last-child {
                padding-top: $block-margin;
                border-left: none;
                border-top: $delim-border;
            }

            @include media( $desktop-and-bigger) {
                &:last-child {
                    border-left: $delim-border;
                    border-top: none;
                }
            }
        }
    }
}
