/*=============================================
=            CONTENT WRAPPER                  =
=============================================*/


/* Standard content with only basic formatting options. */

.content-simple {
    /* Collections with shared attributes. */
    ul,
    ol,
    p {
        margin-bottom: 1.2em;

        &:last-child { margin-bottom: 0; }
    }

    // Unordered list with own square bullet
    $list-bullet-size:          .5em;
    $list-bullet-indent-left:   .5em;
    $list-bullet-indent-right:  1.15em;

    ul, ol {
        > li {
            line-height: $base-line-height;
            margin-bottom: .35em;
            margin-top: .35em;
        }
    }

    ul {
        margin-left: 0;
        padding-left: $list-bullet-indent-left + $list-bullet-indent-right + $list-bullet-size;
        text-indent: -( $list-bullet-indent-right + $list-bullet-size );
        list-style-position: outside;

        > li {
            line-height: $base-line-height;

            @include make-list-square-bullet( $list-bullet-size ) {
                position: relative; top: -.1em;
                margin-right: $list-bullet-indent-right;
            }
        }
    }

    ol {
        list-style: decimal;

        > li {
            margin-left: 1.5em;
            padding-left: $list-bullet-indent-right - $list-bullet-size;
        }
    }
}


/* ===== GENERIC HELPERS ==================================================== */

.centered { text-align: center; }

.smaller {
    font-size: .75em;
    padding-top: .5em;

    a { font-size: 1.2em; }
}


.tooltip-inline,
.tooltip-icon {
    cursor: default;
    }

/** Inline hint (~ tooltip). */
$hint-inline-colour:            $base-font-colour;
$hint-inline-underline-colour:  $grey-dusty-gray;
$hint-inline-active-colour:     black;

.tooltip-inline {
    color: $hint-inline-colour;
    border-bottom: 1px dashed $hint-inline-underline-colour;

    @include hoverify() {
        color: $hint-inline-active-colour;
        border-bottom-color: $hint-inline-active-colour;
    };
}

/** Icon for the tooltip. */
.tooltip-icon {
    cursor: pointer;
    margin: 0 .2em;
    vertical-align: middle;
    font-size: 90%;
    color: $grey-stack;
    opacity: .6;

    @include hoverify() { opacity: 1; }
}

// Generic inline action link of lower importance
.link-action {
    transition: none;
    font-size: 90%;
    white-space: nowrap;
}

// Inline block that might be or might not be used inside a dynamic content.
.inliner {
    margin-right: .3em;

    & + .link-action {
        margin-left: 0;
    }
}
