/*=============================
=            ICONS            =
=============================*/

/* Creates icon class and assigns icon's code. */
@mixin define-icon( $tag-name, $ico-code, $placement:'before' ) {
    &.#{$tag-name}:#{$placement} {
        content: $ico-code;
        @content;
    }
}


@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}


$ico-caret-width:  .7em;
$ico-caret-height: .35em;
$ico-margin:       .9em;


/* ===== FONT ICON'S CODES ================================================== */


$ico-code-study-cap-thin:  '\e806';
$ico-code-bubble-thin:     '\e80a';
$ico-code-heart-thin:      '\e808';

$ico-code-arr-right:       '\e807';
$ico-code-arr-left:        '\e809';
$ico-code-arr-down:        '\e80b';
$ico-code-arr-up:          '\e80c';

$ico-code-arr-short-down:  '\e80d';
$ico-code-arr-short-left:  '\e80e';
$ico-code-arr-short-right: '\e80f';
$ico-code-arr-short-up:    '\e810';

$ico-code-help:            '\e811';
$ico-code-quote-start:     '\e812';
$ico-code-quote-end:       '\e813';
$ico-code-phone:           '\e814';
$ico-code-mail:            '\e815';
$ico-code-dollar:          '\e816';
$ico-code-clock:           '\e805';

$ico-code-star:            '\e800';
$ico-code-link-ext:        '\e801'; //TODO: DEPRECATED
$ico-code-info:            '\e802';
$ico-code-book:            '\e803';
$ico-code-cancel:          '\e804';
$ico-code-ext-link:        '\e817';
$ico-code-ok:              '\e818';
$ico-code-youtube-play:    '\e819';

$ico-code-spin:            '\e81a';
$ico-code-search:          '\e81b';
$ico-code-person:          '\e81c';

$ico-code-location:        '\e81d';
$ico-code-tick:            '\e81e';
$ico-code-calendar:        '\e81f';
$ico-code-flag:            '\e820';


/* ===== ENTITY CODES ======================================================= */

$code-triangle-right: '\25b8';
$code-triangle-down:  '\25be';


/* ===== ICONS DEFINITIONS ================================================== */

.ico {
    font-weight: normal;

    &:before {
        @include iconify();
    }

    /* Font icons */

    // Thin icons (menus | headers)
    @include define-icon( heart, $ico-code-heart-thin );
    @include define-icon( talk-bubble, $ico-code-bubble-thin );
    @include define-icon( study-cap, $ico-code-study-cap-thin ) {
        position: relative; top: 2px;
    };

    // Standard icons (general usage, eg. buttons, links, headers, one liners)
    @include define-icon( email, $ico-code-mail );
    @include define-icon( phone, $ico-code-phone );
    @include define-icon( tooltip-icon, $ico-code-help );

    @include define-icon( clock, $ico-code-clock );
    @include define-icon( dollar, $ico-code-dollar );

    @include define-icon( quote-start, $ico-code-quote-start );
    @include define-icon( quote-end, $ico-code-quote-end );

    @include define-icon( arr-right, $ico-code-arr-right );
    @include define-icon( arr-left, $ico-code-arr-left );
    @include define-icon( arr-up, $ico-code-arr-up );
    @include define-icon( arr-down, $ico-code-arr-down );

    @include define-icon( arr-short-left, $ico-code-arr-short-left );
    @include define-icon( arr-short-down, $ico-code-arr-short-down );
    @include define-icon( arr-short-right, $ico-code-arr-short-right );
    @include define-icon( arr-short-up, $ico-code-arr-short-up );

    @include define-icon( star, $ico-code-star );
    @include define-icon( link-ext, $ico-code-link-ext );
    @include define-icon( info, $ico-code-info );
    @include define-icon( book, $ico-code-book );
    @include define-icon( cancel, $ico-code-cancel );
    @include define-icon( ext-link, $ico-code-ext-link );
    @include define-icon( ok, $ico-code-ok );
    @include define-icon( youtube-play, $ico-code-youtube-play );

    @include define-icon( spin, $ico-code-spin ){
        display: inline-block;
        @include animation( spin 2s infinite linear );
    };
    @include define-icon( search, $ico-code-search );
    @include define-icon( person, $ico-code-person );

    @include define-icon( location, $ico-code-location );
    @include define-icon( tick, $ico-code-tick );
    @include define-icon( calendar, $ico-code-calendar );
    @include define-icon( flag, $ico-code-flag );


    /* CSS only icons. */

    // Text-based triangle
    @include define-icon( triangle, $code-triangle-right ) {
        display: inline;
        transition: none;

        .expanded & {
            content: $code-triangle-down
        }
    }

    // Border-based triangle
    &.caret:before {
        @include triangle(
            $ico-caret-width $ico-caret-height,
            $base-font-colour,
            right
        );
    }
}

/** Link outside of the site with `ico ext-link`. */
.link--external {
    &:after {
        @include iconify( inline, $ico-code-ext-link );
        margin-left: .35em;
    }
}
